input {
  background: inherit;
  color: lemonchiffon;
}

.ui.search {
  background: inherit;
  color: lemonchiffon;
}

.ui.input input {
  background: inherit;
  color: lemonchiffon;
}

.ui.input input:active,
.ui.input.down input {
  background: inherit;
}

.ui.input input:focus {
  background: inherit;
}

.ui.form .field.field input:-webkit-autofill {
  background: inherit;
}
