$secondary_color: #001A26;

.fight-display-container {
  padding: 0.3em;
  border-radius: 3px;
  background-color: lighten($secondary_color, 4);
  display: grid;
  grid-template-columns: 2fr 9fr 1fr 9fr;
  grid-gap: 1px;
  place-content: center;
  place-items: stretch;

  * {
    background-color: $secondary_color;
    text-align: center;
  }

  .category_display {
    grid-column: 1/5;
  }
  .centered {
    text-align: center;
    vertical-align: center;
  }
}

.item.draggable {
  background-color: #162830;
  border-radius: 3px;
  margin-bottom: 1em;
  padding: 0.2em !important;

  &:last-child {
    margin-bottom: 0;
  }
}

.ui.cards {
  margin: 0 !important;
}
