<div class="ui middle aligned large selection divided list" [formGroup]="form">
  <compmanager-frontend-editable-field class="item" (contentChanged)="changeProperty('firstName')">
    <compmanager-frontend-left-floated-text-input
      edit-section
      [control]="firstName"
      [name]="'First Name'"
    ></compmanager-frontend-left-floated-text-input>
    <compmanager-frontend-left-floated-display
      display-section
      [value]="fighter?.firstName"
      [name]="'First Name'"
    ></compmanager-frontend-left-floated-display>
  </compmanager-frontend-editable-field>

  <compmanager-frontend-editable-field class="item" (contentChanged)="changeProperty('lastName')">
    <compmanager-frontend-left-floated-text-input
      edit-section
      [control]="lastName"
      [name]="'Last Name'"
    ></compmanager-frontend-left-floated-text-input>
    <compmanager-frontend-left-floated-display
      display-section
      [value]="fighter?.lastName"
      [name]="'Last Name'"
    ></compmanager-frontend-left-floated-display>
  </compmanager-frontend-editable-field>

  <compmanager-frontend-editable-field class="item" (contentChanged)="changeProperty('email')">
    <compmanager-frontend-left-floated-text-input
      edit-section
      [control]="email"
      [name]="'E-mail'"
    ></compmanager-frontend-left-floated-text-input>
    <compmanager-frontend-left-floated-display
      display-section
      [value]="fighter?.email"
      [name]="'E-mail'"
    ></compmanager-frontend-left-floated-display>
  </compmanager-frontend-editable-field>

  <compmanager-frontend-editable-field class="item" (contentChanged)="changeProperty('birthDate')">
    <compmanager-frontend-left-floated-container
      edit-section
    >
      <div class="description">Birth date:<span>&nbsp;&nbsp;</span></div>
      <input suiDatepicker
             name="birthDate"
             [pickerMode]="'date'"
             (pickerSelectedDateChange)="setBirthDate($event)"
             [pickerUseNativeOnMobile]="false">
    </compmanager-frontend-left-floated-container>
    <compmanager-frontend-left-floated-container display-section>
      <div class="description">Birth Date<span>&nbsp;&nbsp;</span></div>
      <compmanager-frontend-date-field class="header" [date]="fighter?.birthDate"
                                       [showTime]="false"></compmanager-frontend-date-field>
    </compmanager-frontend-left-floated-container>
  </compmanager-frontend-editable-field>

  <compmanager-frontend-editable-field class="item" (contentChanged)="changeCategory()"
                                       (editModeEntered)="enterSelectedOptions(select)">
    <compmanager-frontend-left-floated-container
      edit-section
    >
      <sui-multi-select class="selection" placeholder="Category"
                        (selectedOptionsChange)="setCategories($event)"
                        [options]="categories"
                        [isSearchable]="true"
                        [isDisabled]="false"
                        [optionsFilter]="optionsFilter"
                        [optionFormatter]="formatter"
                        #select>
        <sui-select-option *ngFor="let option of select.filteredOptions"
                           [value]="option">
        </sui-select-option>
      </sui-multi-select>
    </compmanager-frontend-left-floated-container>
    <compmanager-frontend-left-floated-container
      display-section
    >
      <div class="description">Categories</div>
      <ng-container *ngFor="let cat of fighter?.categories">
        <div class="header">{{displayCategory(cat)}}</div>
      </ng-container>
    </compmanager-frontend-left-floated-container>
  </compmanager-frontend-editable-field>


  <compmanager-frontend-editable-field class="item" (contentChanged)="changeProperty('academy')">
    <compmanager-frontend-left-floated-container
      edit-section
    >
      <sui-select class="selection" placeholder="Academy"
                  (selectedOptionChange)="setAcademy($event)"
                  [isSearchable]="true"
                  [isDisabled]="false"
                  [optionsLookup]="academyLookup"
                  [optionFormatter]="academyFormatter"
                  #academySelect>
        <sui-select-option *ngFor="let option of academySelect.filteredOptions"
                           [value]="option">
        </sui-select-option>
      </sui-select>
    </compmanager-frontend-left-floated-container>
    <compmanager-frontend-left-floated-display
      display-section
      [value]="fighter?.academy?.name"
      [name]="'Academy'"
    ></compmanager-frontend-left-floated-display>
  </compmanager-frontend-editable-field>

  <compmanager-frontend-editable-field class="item" (contentChanged)="changeProperty('registrationStatus')">
    <compmanager-frontend-left-floated-container
      edit-section
    >
      <sui-select class="selection" placeholder="Registration status"
                  (selectedOptionChange)="setRegistrationStatus($event)"
                  [options]="statuses"
                  [isSearchable]="false"
                  [isDisabled]="false"
                  #selectRegistrationStatus>
        <sui-select-option *ngFor="let option of selectRegistrationStatus.filteredOptions"
                           [value]="option">
        </sui-select-option>
      </sui-select>
    </compmanager-frontend-left-floated-container>
    <compmanager-frontend-left-floated-display
      display-section
      [value]="fighter?.registrationStatus"
      [name]="'Registration status'"
    ></compmanager-frontend-left-floated-display>
  </compmanager-frontend-editable-field>
</div>
