<div class="period_grid" [ngStyle]="ngStyle">
  <div class="ui basic segment message_line" *ngIf="unassignedCategoies && unassignedCategoies.length > 0">
    <div>{{unassignedCategoies.length}} Unassigned {{unassignedCategoies.length === 1 ? 'category' : 'categories'}}</div>
    <button class="ui button" (click)="moveUnassignedCategoriesToDefault()">Assign to defaut</button>
  </div>
  <div class="column" *ngFor="let p of registrationInfo?.registrationPeriods?.values()">
    <div class="ui fluid card">
      <div class="content">
        <div class="header">
          {{p.name}}
        </div>
      </div>
      <div class="content">
        <div class="ui sub header">
          <i class="calendar check outline icon"></i>
          {{p.start | zdate:true}} - {{p.end | zdate:true}}
        </div>
      </div>
      <div class="content">
        <div class="ui relaxed list">
          <div class="item" *ngFor="let group of getRegistrationGroupsForPeriod(p, registrationInfo)">
            <div class="right floated content" (click)="deleteGroupEvent(group.id, p.id)">
              <a>
                <i class="close icon"></i>
              </a>
            </div>
            <div class="content" [ngClass]="{inactive: !group.categories || group.categories.length === 0}">
              <a class="header" (click)="selectGroup.next(group.id)">{{group.displayName + (group.defaultGroup ? ' (Default)' : '')}}</a>
              <div class="description">{{group.registrationFee?.amount}} {{group.registrationFee?.currency}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <div class="ui icon button" (click)="openGroupModal(p.id, p.registrationGroupIds)">
          <i class="plus icon"></i></div>
        <div class="ui icon button" (click)="deletePeriodEvent(p.id)">
          <i class="trash icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>

