<compmanager-frontend-common-container-with-pagination *ngIf="fighters && fighters.length > 0">
  <compmanager-frontend-fighter-card *ngFor="let fighter of fighters"
                                     [editMode]="editMode"
                                     [fighter]="fighter"
                                     [getCategoryName]="getCategoryName"
                                     [showPersonalData]="showPersonalData"
                                     [showRegistrationStatus]="showRegistrationStatus"
                                     (editClicked)="gotoFighterProfile($event)"
                                     (deleteClicked)="deleteFighter($event)"
                                     (headerClicked)="gotoFighterProfile($event)"
  ></compmanager-frontend-fighter-card>
  <compmanager-frontend-common-pagination
    [collectionSize]="collectionSize"
    [pageSize]="pageSize"
    [pageNumber]="pageNumber"
    (pageChanged)="selectPage($event)"
  ></compmanager-frontend-common-pagination>
</compmanager-frontend-common-container-with-pagination>
