<div class="ui customcontainer" *ngIf="fighters && fighters.length > 0">
  <compmanager-frontend-fighter-card *ngFor="let fighter of fighters"
                                     [editMode]="editMode"
                                     [fighter]="fighter"
                                     [getCategoryName]="getCategoryName"
                                     [showPersonalData]="showPersonalData"
                                     [showRegistrationStatus]="showRegistrationStatus"
                                     (editClicked)="gotoFighterProfile($event)"
                                     (deleteClicked)="deleteFighter($event)"
                                     (headerClicked)="gotoFighterProfile($event)"
  ></compmanager-frontend-fighter-card>
  <div class="ui basic segment customline pagination_line">
    <sui-pagination [collectionSize]="collectionSize"
                    [pageSize]="pageSize"
                    [maxSize]="5"
                    [page]="pageNumber"
                    [hasEllipses]="true"
                    (pageChange)="selectPage($event)" #pagination>
    </sui-pagination>
    <div class="total">Total: {{total}}</div>
  </div>
</div>
