<div class="ui basic segment bottom_margin" [formGroup]="form">
  <div class="ui buttons">
    <button class="ui button" (click)="doGenerateStages()" [disabled]="form.invalid">Generate</button>
    <button class="ui button" (click)="addStageDescription()">Add stage</button>
    <button class="ui button" (click)="removeAllStages()">Clear</button>
  </div>
  <div class="stage_descriptions_grid" formArrayName="stageDescriptions" [ngStyle]="ngStyle">
    <div class="ui card" [ngClass]="{error: stage.invalid}" *ngFor="let stage of stageDescriptions.controls; index as i; last as isLast">
      <div class="content">
        <div class="right floated">
          <a>
            <i class="close icon" (click)="removeStageDescription(i)"></i>
          </a>
        </div>
        <div class="header">
          Stage #{{i + 1}} {{getName(stage) ? '(' + getName(stage) + ')' : ''}}
        </div>
        <div class="ui basic divider"></div>
        <div class="ui form" [ngClass]="{error: stage.invalid}" [formGroupName]="i" novalidate>
          <div class="ui label transparent_label">Brackets type.</div>
          <div class="ui compact error message" *ngIf="stage.errors?.typeValidator">Double elimination is only allowed for the final stage.</div>
          <div class="ui field">
            <sui-select class="selection"
                        (selectedOptionChange)="setBracketsType(i, $event)"
                        [placeholder]="'Select brackets type'"
                        [options]="bracketTypes"
                        [isSearchable]="true"
                        [isDisabled]="false"
                        #bracketType>
              <sui-select-option *ngFor="let option of bracketType.filteredOptions"
                                 [value]="option">
              </sui-select-option>
            </sui-select>
          </div>
          <div class="ui label transparent_label">Preliminary or final?</div>
          <div class="ui field">
            <sui-select class="selection"
                        (selectedOptionChange)="setStageType(i, $event)"
                        [placeholder]="'Select stage type'"
                        [options]="stageTypes"
                        [isSearchable]="true"
                        [isDisabled]="false"
                        #stageType>
              <sui-select-option *ngFor="let option of stageType.filteredOptions"
                                 [value]="option">
              </sui-select-option>
            </sui-select>
          </div>
          <div class="ui label transparent_label">Stage name (optional).</div>
          <div class="ui field">
            <input class="ui input" type="text" placeholder="Stage name." formControlName="name" maxlength="10"/>
          </div>
          <div class="ui label transparent_label" *ngIf="getStageType(stage) === 'PRELIMINARY'">How many competitors will proceed</div>
          <div class="ui field" formGroupName="stageResultDescriptor" *ngIf="getStageType(stage) === 'PRELIMINARY'">
            <input class="ui input" type="number" placeholder="Stage output size." formControlName="outputSize" maxlength="10"/>
          </div>
          <div class="ui field" *ngIf="isLast && bracketType.selectedOption === 'SINGLE_ELIMINATION'">
            <sui-checkbox [name]="'hasThirdPlaceFight'"
                          (checkChange)="setHasThirdPlaceFight(i, $event)"
            >Has fight for 3d place
            </sui-checkbox>
          </div>
          <div class="ui field" *ngIf="i > 0">
            <sui-checkbox [name]="'waitForPrevious'"
                          (checkChange)="setWaitForPrevious(i, $event)">Do not start before the previous stage finishes
            </sui-checkbox>
          </div>
          <ng-container  *ngIf="i > 0 || getBracketsType(i) === 'GROUP'">
            <div class="ui divider"></div>
            <div class="ui card no_margin">
              <div class="content">
                <div class="header">Stage input</div>
                <div class="ui fields" formGroupName="inputDescriptor" *ngIf="getBracketsType(i) !== 'GROUP'">
                  <div class="ui field" *ngIf="!selectorsProvidedInput(stage) || isManualDistributionType(stage)">
                    <label for="numberOfCompetitors">Number of competitors from previous stage that pass to this
                      stage.</label>
                    <input id="numberOfCompetitors" class="ui input" type="number" (focusout)="updateView()"
                           [placeholder]="i === 0 ? (_competitorsSize + ' Competitors') : 'Number of competitors'"
                           formControlName="numberOfCompetitors"/>
                  </div>
                </div>
                <ng-container *ngIf="getBracketsType(i) === 'GROUP'">
                  <div formArrayName="groupDescriptors">
                    <button class="ui button" (click)="addGroupDescriptor(i)">Add group descriptor</button>
                    <p></p>
                    <div class="ui fields" *ngFor="let group of groupDescriptors(i).controls; index as k"
                         [formGroupName]="k">
                      <div class="ui field">
                        <input class="ui input" type="text" [placeholder]="1 + k + ' name (optional)'"
                               formControlName="name"/>
                      </div>
                      <div class="ui field">
                        <input class="ui input" type="number"
                               [placeholder]="1 + k + ' size'"
                               formControlName="size"/>
                      </div>
                      <div class="ui field">
                        <button class="ui icon button" (click)="removeGroupDescriptor(i, k)"><i class="trash icon"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="i > 0">
                  <div class="description" *ngIf="(!selectorsProvidedInput(stage) || isManualDistributionType(stage))">Top {{getDefaultNumberOfCompetitors(i) || 0}} competitors from previous
                    stage will pass to this stage. You can add advanced selectors below.
                  </div>
                  <div class="ui field margin-vertical">
                    <sui-checkbox [name]="'distributionType'"
                                  (checkChange)="setManualDistributionType(stage, $event)">Select competitors manually.
                    </sui-checkbox>
                  </div>
                  <button [disabled]="isManualDistributionType(stage)" class="ui button margin-vertical" id="additionalSelectors" (click)="openAddInputSelectorModal(stage, i)">
                    Add selectors
                  </button>
                  <app-tag-list *ngIf="!isManualDistributionType(stage)" [values]="getAdditionalCompetitorSelectorsValue(stage)"
                                [validator]="competitorSelectorValid(stage)"
                                [formatter]="compSelectorFormatter"
                                (itemRemoved)="removeAdditionalCompetitorSelector(stage, $event.index)"></app-tag-list>
                  <div class="description" *ngIf="selectorsProvidedInput(stage) && !isManualDistributionType(stage)">Total of {{getStageInputNumberOfCompetitorsByAdvancedSelectors(stage) || 0}} competitors from previous
                    stages selected.
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
          <div class="ui divider"></div>
          <div class="results_section" [ngStyle]="ngStyle">
            <div class="ui card">
              <div class="content">
                <div class="header">Possible results</div>
                <div class="fight_options_select">
                  <a (click)="mergeSelectedFightResultOptions(i, select.selectedOptions); select.selectedOptions = []"><i class="ui check icon"></i></a>
                  <sui-multi-select
                    [isSearchable]="true"
                    [isDisabled]="false"
                    [options]="getFilteredDefaultOptions(i)"
                    [optionsFilter]="filterFightResults"
                    [optionFormatter]="formatter"
                    [maxSelected]="10"
                    placeholder="Select fight results to add"
                    #select>
                    <div class="ui icon search input">
                      <i class="search icon"></i>
                      <input suiSelectSearch type="text" placeholder="Search options...">
                    </div>
                    <div class="divider"></div>
                    <div class="header">
                      <i class="list icon"></i>
                      Options
                    </div>
                    <div class="scrolling menu">
                      <sui-select-option *ngFor="let o of select.filteredOptions" [value]="o" suiPopup
                                         [popupText]="o.description" popupBasic popupDelay="300"></sui-select-option>
                    </div>
                  </sui-multi-select>
                </div>
                <app-tag-list [values]="getFightResultOptionsValue(i)">
                  <ng-template let-opt="$implicit" let-k="index">
                    <div class="ui icon label">
                      <span suiPopup [popupText]="opt?.description" popupBasic popupDelay="300">{{opt?.shortName}}</span>
                      <i class="delete icon" (click)="removeFightResultOpiton(i, k)"></i>
                    </div>
                  </ng-template>
                </app-tag-list>
                <div class="ui buttons">
                  <button class="ui button"
                          (click)="addAllFightOptions(i)">Add all
                  </button>
                  <button class="ui button"
                          (click)="openAddFightOptionsModal(i)">Create custom
                  </button>
                </div>
              </div>
            </div>
            <div class="ui card" *ngIf="getBracketsType(i) === 'GROUP'">
              <div class="content">
                <div class="header">Additional sorting</div>
                <div class="ui field">
                  <sui-checkbox [name]="'forceManualAssignment'"
                                (checkChange)="setForceManualAssignment(i, $event)" #forceManual>Assign all results
                    manually.
                  </sui-checkbox>
                </div>
                <div class="ui fields" *ngIf="!forceManual.isChecked">
                  <div class="ui field">
                    <sui-select
                      [isDisabled]="false"
                      [options]="possibleGroupSortSpecifiers"
                      placeholder="Specifier"
                      #specifierSelect>
                      <sui-select-option *ngFor="let o of specifierSelect.filteredOptions"
                                         [value]="o"></sui-select-option>
                    </sui-select>
                  </div>
                  <div class="ui field">
                    <sui-select
                      [isDisabled]="specifierSelect.selectedOption === 'MANUAL'"
                      [options]="possibleGroupSortDirections"
                      placeholder="Direction"
                      #directionSelect>
                      <sui-select-option *ngFor="let o of directionSelect.filteredOptions"
                                         [value]="o"></sui-select-option>
                    </sui-select>
                  </div>
                  <a
                    (click)="addAdditionalSortingOption(i, specifierSelect.selectedOption, directionSelect.selectedOption)"><i
                    class="check icon"></i></a>
                </div>
                <app-tag-list *ngIf="!forceManual.isChecked" [values]="getAdditionalGroupSortingDescriptorsValue(i)"
                              (itemRemoved)="removeAdditionalSortingOption(i, $event.index)"
                              [formatter]="additionalGroupSortingFormatter"></app-tag-list>
                <div class="description">The places in groups are assigned by points, you can add sorting for cases when the points are equal.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

