<app-add-fighter [collapsed]="!addFighterOpen"
                 [categories]="categories$ | async" [header]="false"
                 (fighterAdded)="dispatchAddFighterAction($event)"
                 (closeClicked)="addFighterOpen = false"></app-add-fighter>
<app-fighters-editor
  [categories]="categories$ | async"
  [pageNumber]="pageNumber$ | async"
  [pageSize]="pageSize$ | async"
  [collectionSize]="totalCompetitors$ | async"
  [fighters]="competitors$ | async"
  [categoryId]="categoryId$ | async"
  [competitionId]="competitionId$ | async"
  [total]="totalCompetitors$ | async"
  (fighterDeleted)="deleteFighter($event)"
  (pageChanged)="changePage($event)"
  (fighterClicked)="navigateToFighterProfilePage($event)"></app-fighters-editor>
