<div class="ui basic modal">
  <div class="content">
    <div class="ui center aligned container">
      <ngx-avatar size="50%" [src]="sanitizer.bypassSecurityTrustResourceUrl(avatarSrc)" [round]="true"
                  [hidden]="previewHidden"></ngx-avatar>
      <div id="preview" class="center  aligned container">
        <img class="ui tiny image crop hidden" src="" [hidden]="true">
      </div>
      <input type="file" [hidden]="true" (change)="fileChange($event)" #fileInput placeholder="Upload file "
             class="inputfile" accept=".jpeg,.jpg,.png" id="embedpollfileinput">
      <button class="ui button" (click)="fileInput.click()"><i class="upload icon"></i><span>&nbsp;&nbsp;</span>Upload new </button>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <div class="ui positive right labeled icon button" (click)="confirmChanges()">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
