<div class="ui container">
  <div class="ui steps">
    <a class="step" [ngClass]="{active: step == 0}" (click)="step = 0">
      <i class="user plus icon"></i>
      <div class="content">
        <div class="title">Name</div>
        <div class="description">Choose name and fight duration</div>
      </div>
    </a>
    <a class="step" [ngClass]="{active: step == 1}" (click)="step = 1">
      <i class="weight icon"></i>
      <div class="content">
        <div class="title">Restrictions</div>
        <div class="description">Configure restrictions</div>
      </div>
    </a>
  </div>
  <form class="ui large form" [formGroup]="form" [ngClass]="{error: (form.touched || form.dirty) && form.invalid}">
    <div class="ui stacked segment" *ngIf="step === 0">
      <div class="ui teal ribbon label">Name</div>
      <p></p>
      <div class="field"
           [ngClass]="{error: name.invalid && (name.touched || name.dirty)}">
        <div class="ui input">
          <input type="text" name="gender" placeholder="Name" formControlName="name"
                 required>
        </div>
      </div>
      <div class="field"
           [ngClass]="{error: fightDuration.invalid && (fightDuration.touched || fightDuration.dirty)}">
        <div class="ui input">
          <input type="number" name="fightDuration" placeholder="Fight duration (minutes)*"
                 formControlName="fightDuration"
                 required>
        </div>
      </div>
    </div>
    <div class="ui stacked segment" formArrayName="restrictions" *ngIf="step === 1">
      <div class="ui teal ribbon label">Restrictions</div>
      <p></p>
      <button class="ui button" (click)="addRestriction()">Add restriction</button>
      <p></p>
      <div *ngFor="let restriction of restrictions.controls; let i=index" [formGroupName]="i">
        <!-- The repeated alias template -->
        <div class="field">
          <div class="ui input">
            <input type="text" name="type" placeholder="Type*" formControlName="type"
                   required>
          </div>
        </div>
        <div class="field">
          <div class="ui input">
            <input type="text" name="name" placeholder="Name*" formControlName="name"
                   required>
          </div>
        </div>
        <div class="field">
          <div class="ui input">
            <input type="text" name="minvalue" placeholder="Minimum value" formControlName="minValue">
          </div>
        </div>
        <div class="field">
          <div class="ui input">
            <input type="text" name="maxvalue" placeholder="Maximum value" formControlName="maxValue">
          </div>
        </div>
        <div class="field">
          <div class="ui input">
            <input type="text" name="unit" placeholder="Units" formControlName="unit">
          </div>
        </div>
        <p></p>
      </div>
    </div>

    <div class="ui button" [ngClass]="{disabled: step <= 0}" (click)="previousStep()">
      Previous
    </div>
    <div class="ui button" [ngClass]="{disabled: step >= 1}" (click)="nextStep()">
      Next
    </div>
    <div class="ui submit button" [ngClass]="{disabled: form.invalid}" (click)="submitForm()">
      Create
    </div>
  </form>
</div>
