.ui.input input {
  background: inherit;
  color: lemonchiffon;
}

.ui.input input:active,
.ui.input.down input {
  background: inherit;
}

.ui.input input:focus {
  background: inherit;
}

.ui.form .field.field input:-webkit-autofill {
  background: inherit;
}

.selection {
  width: 100% !important;
}

.span_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .right_floated {
    align-self: flex-end;
  }
}
