<div class="ui container">
  <div class="ui middle aligned relaxed list" *ngIf="!(selectedFight$ | async)">
    <a class="item" *ngFor="let fight of matFights$ | async">
      <div class="content cell_item">
        <app-fight-display [fight]="fight"
                           (fightClicked)="selectFightForScoreboard($event)"></app-fight-display>
      </div>
    </a>
  </div>
  <app-scoreboard-component
    (goMatViewClicked)="selectFightForScoreboard(null)"
    [selectedFight]="selectedFight$ | async"
    [category]="fightCategory$ | async"
  (fightResultUpdated)="sendFightResult($event)"></app-scoreboard-component>
</div>
