<div class="ui container">
  <div class="ui middle aligned divided list" *ngIf="!(selectedFight$ | async)">
    <a class="item" *ngFor="let fight of matFights$ | async">
      <i class="circular users icon"></i>
      <div class="content">
        <app-fight-display [fight]="fight"
                           (fightClicked)="selectFightForScoreboard($event)"></app-fight-display>
      </div>
    </a>
  </div>
  <app-scoreboard-component (goMatViewClicked)="selectFightForScoreboard(null)" [fight]="selectedFight$ | async"></app-scoreboard-component>
</div>
