.group_editor_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  padding: 0 1em 1em 1em;

}

.categories_list {
  display: flex;
  flex-direction: column;
  &.empty {
    border: thick double #32a1ce;
    place-content: stretch;
    place-items: stretch;
    padding: 1em;
    border-radius: 3px;
  }
}

.category_card {
  background-color: #2b3e40;
  border-radius: 3px;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  cursor: grab;

  &:active  {
    cursor: grabbing;
  }

  &.placeholder {
    background-color: inherit;
    cursor: inherit;
  }
}

.buttons_row {
  grid-column: 1/3;
}



