<div class="margins_container">
  <div class="ui basic segment">
    <sui-select class="selection"
                [placeholder]="(category$ | async) && (formatter(category$ | async).substring(0, 18) + '...') || 'Select Category'"
                (selectedOptionChange)="setCategoryId($event)"
                [options]="categories$ | async"
                [isSearchable]="true"
                [isDisabled]="false"
                [optionsFilter]="optionsFilter"
                [optionFormatter]="formatter"
                #select>
      <sui-select-option *ngFor="let option of select.filteredOptions"
                         [value]="option">
      </sui-select-option>
    </sui-select>
  </div>
  <div class="ui basic segment" *ngIf="fightsAreLoading$ | async">
    <sui-dimmer class="ui dimmer transparent"  [isClickable]="false" [isDimmed]="fightsAreLoading$ | async">
      <div class="ui text loader">Loading</div>
    </sui-dimmer>
  </div>
  <div class="ui container" *ngIf="!(category$ | async) && !(fightsAreLoading$ | async)">
    <h4 class="ui header">Select category</h4>
  </div>
  <div class="ui container" *ngIf="!(fights$ | async) && !(fightsAreLoading$ | async)">
    <h4 class="ui header">No brackets for this category.</h4>
  </div>
  <div class="ui container" *ngIf="!((category$ | async) && (fights$ | async)) && !(fightsAreLoading$ | async)">
  </div>
  <app-bracket *ngIf="(category$ | async) && (fights$ | async) && !(fightsAreLoading$ | async)" [fights]="fights$ | async" [bucketsize]="bucketsize$ | async" [editMode]="false"></app-bracket>
</div>
