<div class="customcontainer">
  <div *ngFor="let event of events" class="ui basic segment customline">
    <div class="competition avatar" (click)="editEvent(event.id)"><img src="https://picsum.photos/80" alt="avatar"></div>
    <div class="content">
      <a class="header" (click)="editEvent(event.id)">{{event.competitionName}}</a>
      <div class="description">STATUS: {{event.status}}</div>
      <div class="action_buttons">
        <div class="ui icon button" (click)="editEvent(event.id)">
          <i class="edit icon"></i>
        </div>
        <div class="ui icon button" (click)="editCategories(event.id)">
          <i class="fas fa-th-list"></i>
        </div>
        <div class="ui icon button" routerLink="{{event?.id}}/fighters">
          <i class="fas fa-users-cog"></i>
        </div>
        <div class="ui icon button" *ngIf="event.status !== 'PUBLISHED'" (click)="publishEvent(event)">
          <i class="fas fa-bell"></i>
        </div>
        <div class="ui icon button" *ngIf="event.status === 'PUBLISHED'" (click)="unpublishEvent(event)">
          <i class="fas fa-bell-slash"></i>
        </div>
        <div class="ui icon button" (click)="deleteEvent(event)">
          <i class="trash icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
