<div class="ui middle aligned large selection divided list" [formGroup]="form">
  <compmanager-frontend-editable-field class="item" (contentChanged)="submitForm()">
    <compmanager-frontend-left-floated-text-input
      edit-section
      [control]="competitionName"
      [name]="'Competition Name'"
    ></compmanager-frontend-left-floated-text-input>
    <compmanager-frontend-left-floated-display
      display-section
      [value]="properties?.competitionName"
      [name]="'Competition Name'"
    ></compmanager-frontend-left-floated-display>
  </compmanager-frontend-editable-field>
  <compmanager-frontend-editable-field class="item" (contentChanged)="submitForm()">
    <compmanager-frontend-left-floated-container edit-section>
      <compmanager-frontend-transparent-right-floated-container>
        <div class="description">Start Date:<span>&nbsp;&nbsp;</span></div>
        <input suiDatepicker
               name="startDate"
               (pickerSelectedDateChange)="startDate = $event"
               [pickerMode]="'datetime'"
               [pickerUseNativeOnMobile]="false">
      </compmanager-frontend-transparent-right-floated-container>
    </compmanager-frontend-left-floated-container>
    <compmanager-frontend-left-floated-container
      display-section
    >
      <div class="description">Start Date</div>
      <compmanager-frontend-date-field class="header" [date]="properties?.startDate"
                                       [timeZone]="properties?.timeZone"></compmanager-frontend-date-field>
    </compmanager-frontend-left-floated-container>
  </compmanager-frontend-editable-field>
  <compmanager-frontend-editable-field class="item" (contentChanged)="submitForm()">
    <compmanager-frontend-left-floated-container edit-section>
      <compmanager-frontend-transparent-right-floated-container>
        <div class="description">End Date:<span>&nbsp;&nbsp;</span></div>
        <input suiDatepicker
               name="endDate"
               (pickerSelectedDateChange)="endDate = $event"
               [pickerMode]="'datetime'"
               [pickerUseNativeOnMobile]="false">
      </compmanager-frontend-transparent-right-floated-container>
    </compmanager-frontend-left-floated-container>
    <compmanager-frontend-left-floated-container
      display-section
    >
      <div class="description">End Date</div>
      <compmanager-frontend-date-field class="header" [date]="properties?.endDate"
                                       [timeZone]="properties?.timeZone"></compmanager-frontend-date-field>
    </compmanager-frontend-left-floated-container>
  </compmanager-frontend-editable-field>
  <div class="item">
    <compmanager-frontend-left-floated-display
      [name]="'Schedule'"
      [value]="properties?.schedulePublished ? 'Schedule is generated.' : 'Schedule is not generated.'"
    ></compmanager-frontend-left-floated-display>
  </div>
  <div class="item">
    <compmanager-frontend-left-floated-display
      [name]="'Brackets'"
      [value]="properties?.bracketsPublished ? 'Brackets are generated.' : 'Brackets are not generated.'"
    ></compmanager-frontend-left-floated-display>
  </div>
  <compmanager-frontend-editable-field class="item" (contentChanged)="submitForm()">
    <compmanager-frontend-left-floated-container edit-section>
      <compmanager-frontend-transparent-right-floated-container>
        <div class="description">Time Zone:<span>&nbsp;&nbsp;</span></div>
        <sui-select
          class="selection" placeholder="Time Zone"
          (selectedOptionChange)="setTimeZone($event)"
          [isSearchable]="true"
          [optionFormatter]="timeZoneFormatter"
          [optionsFilter]="timeZoneFilter"
          [options]="timeZones"
          #selectTimeZone>
          <sui-select-option *ngFor="let option of selectTimeZone.filteredOptions"
                             [value]="option">
          </sui-select-option>
        </sui-select>
      </compmanager-frontend-transparent-right-floated-container>
    </compmanager-frontend-left-floated-container>
    <compmanager-frontend-left-floated-display display-section
      [name]="'Time Zone'"
      [value]="properties?.timeZone"
    ></compmanager-frontend-left-floated-display>
  </compmanager-frontend-editable-field>
  <compmanager-frontend-editable-field class="item" (contentChanged)="submitForm()">
    <compmanager-frontend-left-floated-container edit-section>
      <compmanager-frontend-transparent-right-floated-container>
        <div class="description">Status:<span>&nbsp;&nbsp;</span></div>
        <sui-select class="selection" placeholder="Type"
                    (selectedOptionChange)="setStatus($event)"
                    [options]="statusOptions"
                    [isSearchable]="false"
                    [isDisabled]="false"
                    #select>
          <sui-select-option *ngFor="let option of select.filteredOptions"
                             [value]="option">
          </sui-select-option>
        </sui-select>
      </compmanager-frontend-transparent-right-floated-container>
    </compmanager-frontend-left-floated-container>
    <compmanager-frontend-left-floated-display display-section
      [name]="'Status'"
      [value]="properties?.status"
    ></compmanager-frontend-left-floated-display>
  </compmanager-frontend-editable-field>
</div>
