<div class="ui top aligned large divided list" [formGroup]="form">
  <div class="item" itemInput (contentEdited)="submitForm()">

    <!--input  hidden field-->
    <div class="input-content">
      <div class="left floated content">
        <div class="ui transparent right floated input">
          <div class="description">Competition Name:<span>&nbsp;&nbsp;</span></div>
          <input type="text" formControlName="competitionName">
        </div>
      </div>
      <div class="right floated content ">
        <i class="check link green icon hide-input-btn "></i>
      </div>
    </div>
    <!---------->

    <!--visible content-->
    <div class="row-content">
      <div class="left floated content">
        <div class="description">Competition Name</div>
        <div class="header">{{properties?.competitionName}}</div>
      </div>
      <div class="right floated content">
        <i class="edit link teal tiny  icon  show-input-btn"></i>
      </div>
    </div>
    <!---------->
  </div>
  <div class="item" itemInput (contentEdited)="submitForm()">

    <!--input  hidden field-->
    <div class="input-content">
      <div class="left floated content  ">
        <div class="ui transparent  right floated input">
          <div class="description">Start Date:<span>&nbsp;&nbsp;</span></div>
          <input suiDatepicker
                 name="startDate"
                 (pickerSelectedDateChange)="startDate = $event"
                 [pickerMode]="'datetime'"
                 [pickerUseNativeOnMobile]="false">
        </div>
      </div>
      <div class="right floated content ">
        <i class="check link green icon hide-input-btn "></i>
      </div>
    </div>
    <!---------->

    <!--visible content-->
    <div class="row-content">
      <div class="left floated content ">
        <div class="description">Start Date</div>
        <compmanager-frontend-date-field class="header" [date]="properties?.startDate" [timeZone]="properties?.timeZone"></compmanager-frontend-date-field>
      </div>
      <div class="right floated content">
        <i class="edit link teal tiny  icon  show-input-btn"></i>
      </div>
    </div>
    <!---------->
  </div>

  <div class="item" itemInput (contentEdited)="submitForm()">

    <!--input  hidden field-->
    <div class="input-content">
      <div class="left floated content  ">
        <div class="ui transparent  right floated input">
          <div class="description">End Date:<span>&nbsp;&nbsp;</span></div>
          <input suiDatepicker
                 name="endDate"
                 (pickerSelectedDateChange)="endDate = $event"
                 [pickerMode]="'datetime'"
                 [pickerUseNativeOnMobile]="false">
        </div>
      </div>
      <div class="right floated content ">
        <i class="check link green icon hide-input-btn "></i>
      </div>
    </div>
    <!---------->

    <!--visible content-->
    <div class="row-content">
      <div class="left floated content ">
        <div class="description">End Date</div>
        <compmanager-frontend-date-field class="header" [date]="properties?.endDate" [timeZone]="properties?.timeZone"></compmanager-frontend-date-field>
      </div>
      <div class="right floated content">
        <i class="edit link teal tiny  icon  show-input-btn"></i>
      </div>
    </div>
    <!---------->
  </div>
  <div class="item">
    <div class="left floated content">
      <div class="description">Schedule</div>
      <div class="header" *ngIf="properties?.schedulePublished">
        Schedule is generated.
      </div>
      <div class="header" *ngIf="!properties?.schedulePublished">
        Schedule is not generated.
      </div>
    </div>
  </div>
  <div class="item">
    <div class="left floated content">
      <div class="description">Brackets</div>
      <div class="header" *ngIf="properties?.bracketsPublished">
        Brackets are generated.
      </div>
      <div class="header" *ngIf="!properties?.bracketsPublished">
        Brackets are not generated.
      </div>
    </div>
  </div>
  <div class="item">
    <div class="left floated content">
      <div class="description">Status</div>
      <div class="header">
        {{properties?.status}}
      </div>
    </div>
  </div>
</div>
