<div class="ui container">
  <ng-container *ngIf="showSchedule">
    <h3 class="ui header">Schedule</h3>
    <app-schedule-display [categories]="categories$ | async"
                          [schedule]="selectedCompetitionSchedule$ | async"
                          [timeZone]="timeZone$ | async"
                          [competitionId]="(selectedCompetitionProperties$ | async)?.id"
                          (categoryClicked)="navigateToCategory($event)"></app-schedule-display>
  </ng-container>
  <h3 class="ui header" *ngIf="showSchedule">Dashboard</h3>
  <div class="ui three stackable cards">
    <div class="ui card" *ngFor="let period of periods$ | async">
      <div class="content">
        <div class="right floated meta">
          <i class="close link icon" (click)="removePeriod(period)"></i>
        </div>
        <a class="header" (click)="selectPeriod(period?.id)">Period {{period?.name}}</a>
        <div class="header" *ngIf="period?.isActive">ACTIVE</div>
        <div class="meta">Begins {{period?.startTime | zdate:true:(timeZone$ | async)}}</div>
        <div class="meta">{{period?.mats?.length + ' mats'}}</div>
      </div>
    </div>
  </div>
</div>
