<div class="margins_container">
  <div class="ui basic segment">
    <sui-select class="selection"
                [placeholder]="(category$ | async) && (formatter(category$ | async).substring(0, 18) + '...') || 'Select Category'"
                (selectedOptionChange)="setCategoryId($event)"
                [options]="categories$ | async"
                [isSearchable]="true"
                [isDisabled]="false"
                [optionsFilter]="optionsFilter"
                [optionFormatter]="formatter"
                #select>
      <sui-select-option *ngFor="let option of select.filteredOptions"
                         [value]="option">
      </sui-select-option>
    </sui-select>
    <div class="ui icon search input">
      <i class="search icon"></i>
      <input type="text" placeholder="Search fighters" (change)="searchString$.next($event.target.value)">
    </div>
  </div>
  <app-fighters-editor
          [categories]="categories$ | async"
          [pageNumber]="pageNumber$ | async"
          [pageSize]="pageSize$ | async"
          [collectionSize]="totalCompetitors$ | async"
          [fighters]="competitors$ | async"
          [category]="category$ | async"
          [competitionId]="competitionId$ | async"
          [total]="totalCompetitors$ | async"
          [editMode]="false"
          [showPersonalData]="false"
          (pageChanged)="changePage($event)"
          (fighterClicked)="navigateToUserProfilePage($event)"></app-fighters-editor>
</div>
