.selectable {
  cursor: pointer;
}

.selected {
  rect.compholder {
    fill: #3c5d96;
  }
}

.compholder {
  fill: black;
  stroke-width: 2px;
  stroke: gold;
}

.hoverable {
  &:hover {
    mask: url(#mask-selected);
  }
}

.fighter {
  font-size: 14px;
  font-weight: lighter;
}

.academy {
  font-size: 10px;
  font-weight: lighter;
}

