<div class="ui segments" id="schedule_page" (app-drag-start)="startDrag()" (app-drag-end)="finishDrag()">
  <div [suiCollapse]="!showEditor">
    <div class="ui basic segment" cdkDropListGroup>
      <button class="ui tiny button" (click)="openAddSchedulePeriodModal()">Add period</button>
      <button class="ui tiny button" (click)="sendDropSchedule()">Drop schedule</button>
      <button class="ui tiny button" *ngIf="_selectedReqs && _selectedReqs.size > 1"
              (click)="mergeSelectedReqs()">Merge selected
      </button>
      <div class="ui basic segment">
        <div class="ui two stackable cards">
          <div class="card">
            <div class="content">
              <div class="meta">Categories</div>
              <app-categories-list [periodId]="null"
                                   [allCategories]="categories"
                                   [linesToDisplay]="filteredCategories"
                                   (splitIconCicked)="openSplitModal($event)"
                                   (itemDropped)="onItemDropBack($event, null)"
                                   (requirementRemoveClicked)="removeRequirement($event.req)"></app-categories-list>
            </div>
          </div>
          <div class="card" *ngFor="let period of _periods">
            <div class="content">
              <div class="right floated meta">
                <i class="close link icon" (click)="removePeriod(period)"></i>
              </div>
              <div class="header">Period {{period?.name}}</div>
              <div class="meta">
                <span>{{getPeriodMats(period.id)?.length}} {{getPeriodMats(period.id)?.length === 1 ? 'area' : 'areas'}}</span>
              </div>
              <div class="meta">Begins {{period?.startTime | zdate:true:timeZone}}</div>
              <button class="ui mini button margin-vertical" (click)="addPauseToPeriod(period?.id, period?.startTime)">Add Pause</button>
              <app-requirements-display
                *ngIf="getPeriodMats(period?.id)?.length > 1 || getPeriodMats(period?.id)?.length === 0"
                class="padded-top"
                [selectedReqs]="_selectedReqs"
                [categories]="categories"
                [requirements]="getScheduleRequirementsWithoutMat(period?.id)"
                [periodId]="period.id"
                [matId]="null"
                [timeZone]="timeZone"
                [allRequirements]="_requirements"
                (splitIconCicked)="openSplitModal({req: $event})"
                (itemDropped)="onItemDrop($event.event, $event.periodId, null)"
                (requirementRemoved)="removeRequirement($event)"
                (requirementSelectionChanged)="changeSelectionStatus($event)"></app-requirements-display>
              <div class="inner-list list-container mat-grid"
                   [ngClass]="{'single-mat': getPeriodMats(period?.id)?.length === 1}">
                <div *ngFor="let mat of getPeriodMats(period.id)" class="mat-container">
                  <section>{{mat.name}}</section>
                  <app-requirements-display
                    [selectedReqs]="_selectedReqs"
                    (requirementRemoved)="removeRequirement($event)"
                    [categories]="categories"
                    [requirements]="getScheduleRequirementsForMat(mat.id, period?.id)"
                    [periodId]="period.id"
                    [matId]="mat.id"
                    [timeZone]="timeZone"
                    [allRequirements]="_requirements"
                    (splitIconCicked)="openSplitModal({req: $event})"
                    (requirementSelectionChanged)="changeSelectionStatus($event)"
                    (itemDropped)="onItemDrop($event.event, $event.periodId, mat.id)"></app-requirements-display>
                </div>
              </div>
            </div>
            <div class="extra content">
              <span>Categories: {{getPeriodCategories(period.id).length}}</span>
              <span class="right floated">{{getPeriodFights(period.id)?.length}} fights</span>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button class="ui button" *ngIf="scheduleEmpty" [disabled]="filteredCategories.length > 0"
                (click)="sendGenerateSchedule()">Create schedule
        </button>
      </div>
    </div>
  </div>
</div>
