<form class="ui large form" [suiCollapse]="collapsed" [formGroup]="form"
      [ngClass]="{error: (form.touched || form.dirty) && form.invalid}">

  <compmanager-frontend-form-field
    [control]="email"
    [type]="'text'"
    [name]="'email'"
    [placeholder]="'E-mail'"
  ></compmanager-frontend-form-field>
  <compmanager-frontend-form-field
    [control]="userId"
    [type]="'text'"
    [name]="'userId'"
    [placeholder]="'User ID'"
  ></compmanager-frontend-form-field>
  <compmanager-frontend-form-field
    [control]="firstName"
    [type]="'text'"
    [name]="'firstName'"
    [placeholder]="'First Name'"
  ></compmanager-frontend-form-field>
  <compmanager-frontend-form-field
    [control]="lastName"
    [type]="'text'"
    [name]="'lastName'"
    [placeholder]="'Last Name'"
  ></compmanager-frontend-form-field>
  <div class="field"
       [ngClass]="{error: birthDate.invalid && (birthDate.touched || birthDate.dirty)}">
    <div class="ui input">
      <input suiDatepicker
             name="birthDate"
             placeholder="Birth Date"
             [pickerMode]="'date'"
             [pickerUseNativeOnMobile]="false"
             (pickerSelectedDateChange)="updateBirthDate($event)">
    </div>
  </div>
  <div class="field"
       [ngClass]="{error: academy.invalid && (academy.touched || academy.dirty)}">
    <sui-select class="selection" placeholder="Academy"
                (selectedOptionChange)="setAcademy($event)"
                [isSearchable]="true"
                [isDisabled]="false"
                [optionFormatter]="academyFormatter"
                [optionsLookup]="academyLookup"
                #selectAcademy>
      <sui-select-option *ngFor="let option of selectAcademy.filteredOptions"
                         [value]="option">
      </sui-select-option>
    </sui-select>
  </div>
  <div class="field"
       [ngClass]="{error: category.invalid && (category.touched || category.dirty)}">
    <sui-multi-select class="selection" placeholder="Category"
                      (selectedOptionsChange)="setCategoryIds($event)"
                      [options]="categories"
                      [isSearchable]="true"
                      [isDisabled]="false"
                      [optionsFilter]="optionsFilter"
                      [optionFormatter]="formatter"
                      #select>
      <sui-select-option *ngFor="let option of select.filteredOptions"
                         [value]="option">
      </sui-select-option>
    </sui-multi-select>
  </div>

  <div class="ui button" (click)="closeClicked.next()">Close</div>
  <div class="ui positive submit button" [ngClass]="{disabled: form.invalid}" (click)="submitForm()">
    Create
  </div>
  <p></p>
  <sui-message class="error" [isDismissable]="false" *ngIf="(form.touched || form.dirty) && form.invalid">
    <div class="ui relaxed list">
      <compmanager-frontend-form-error-message
        [control]="email"
        [name]="'Email'">
      </compmanager-frontend-form-error-message>
      <compmanager-frontend-form-error-message
        [control]="userId"
        [name]="'User ID'">
      </compmanager-frontend-form-error-message>
      <compmanager-frontend-form-error-message
        [control]="firstName"
        [name]="'First Name'">
      </compmanager-frontend-form-error-message>
      <compmanager-frontend-form-error-message
        [control]="lastName"
        [name]="'Last Name'">
      </compmanager-frontend-form-error-message>
      <compmanager-frontend-form-error-message
        [control]="birthDate"
        [name]="'Birth date'">
      </compmanager-frontend-form-error-message>
      <compmanager-frontend-form-error-message
        [control]="academy"
        [name]="'Academy'">
      </compmanager-frontend-form-error-message>
      <compmanager-frontend-form-error-message
        [control]="category"
        [name]="'Category'">
      </compmanager-frontend-form-error-message>
      <compmanager-frontend-form-error-message
        [control]="registrationStatus"
        [name]="'Registration Status'">
      </compmanager-frontend-form-error-message>
      <compmanager-frontend-form-error-message
        [control]="promo"
        [name]="'Promo Code'">
      </compmanager-frontend-form-error-message>
    </div>
  </sui-message>
</form>
