<form class="ui large form" [formGroup]="form"
      [ngClass]="{error: (form.touched || form.dirty) && form.invalid}">
  <compmanager-frontend-form-simple-field
    [control]="email"
    [type]="'text'"
    [name]="'email'"
    [placeholder]="'E-mail'"
  ></compmanager-frontend-form-simple-field>
  <compmanager-frontend-form-simple-field
    [control]="userId"
    [type]="'text'"
    [name]="'userId'"
    [placeholder]="'User ID'"
  ></compmanager-frontend-form-simple-field>
  <compmanager-frontend-form-simple-field
    [control]="firstName"
    [type]="'text'"
    [name]="'firstName'"
    [placeholder]="'First Name'"
  ></compmanager-frontend-form-simple-field>
  <compmanager-frontend-form-simple-field
    [control]="lastName"
    [type]="'text'"
    [name]="'lastName'"
    [placeholder]="'Last Name'"
  ></compmanager-frontend-form-simple-field>
  <compmanager-frontend-form-generic-field [control]="birthDate">
    <label>Birth Date</label>
    <input suiDatepicker
           input
           name="birthDate"
           placeholder="Birth Date"
           [pickerMode]="'date'"
           [pickerUseNativeOnMobile]="false"
           (pickerSelectedDateChange)="updateBirthDate($event)">
  </compmanager-frontend-form-generic-field>
  <compmanager-frontend-form-generic-field [control]="academy">
    <label>Academy</label>
    <sui-select
      input
      class="selection" placeholder="Academy"
      (selectedOptionChange)="setAcademy($event)"
      [isSearchable]="true"
      [optionFormatter]="academyFormatter"
      [optionsLookup]="academyLookup"
      #selectAcademy>
      <sui-select-option *ngFor="let option of selectAcademy.filteredOptions"
                         [value]="option">
      </sui-select-option>
    </sui-select>
  </compmanager-frontend-form-generic-field>
  <compmanager-frontend-form-generic-field [control]="category">
    <label>Category</label>
    <sui-multi-select input class="selection" placeholder="Category"
                      (selectedOptionsChange)="setCategoryIds($event)"
                      [options]="categories"
                      [isSearchable]="true"
                      [isDisabled]="false"
                      [optionsFilter]="optionsFilter"
                      [optionFormatter]="formatter"
                      #select>
      <sui-select-option *ngFor="let option of select.filteredOptions"
                         [value]="option">
      </sui-select-option>
    </sui-multi-select>
  </compmanager-frontend-form-generic-field>
  <p></p>
  <compmanager-frontend-button
    [name]="'Close'"
    (click)="closeClicked.next()"
  ></compmanager-frontend-button>
  <compmanager-frontend-submit-button
  [name]="'Create'"
  [disabled]="form.invalid"
  (click)="submitForm()"
  >
  </compmanager-frontend-submit-button>
  <sui-message class="error" [isDismissable]="false" *ngIf="(form.touched || form.dirty) && form.invalid">
    <div class="ui relaxed list">
      <compmanager-frontend-form-error-message
        [control]="email"
        [name]="'Email'">
      </compmanager-frontend-form-error-message>
      <compmanager-frontend-form-error-message
        [control]="userId"
        [name]="'User ID'">
      </compmanager-frontend-form-error-message>
      <compmanager-frontend-form-error-message
        [control]="firstName"
        [name]="'First Name'">
      </compmanager-frontend-form-error-message>
      <compmanager-frontend-form-error-message
        [control]="lastName"
        [name]="'Last Name'">
      </compmanager-frontend-form-error-message>
      <compmanager-frontend-form-error-message
        [control]="birthDate"
        [name]="'Birth date'">
      </compmanager-frontend-form-error-message>
      <compmanager-frontend-form-error-message
        [control]="academy"
        [name]="'Academy'">
      </compmanager-frontend-form-error-message>
      <compmanager-frontend-form-error-message
        [control]="category"
        [name]="'Category'">
      </compmanager-frontend-form-error-message>
      <compmanager-frontend-form-error-message
        [control]="registrationStatus"
        [name]="'Registration Status'">
      </compmanager-frontend-form-error-message>
      <compmanager-frontend-form-error-message
        [control]="promo"
        [name]="'Promo Code'">
      </compmanager-frontend-form-error-message>
    </div>
  </sui-message>
</form>
