<div class="all-buckets-page">
  <div *ngFor="let bucket of rounds" class="bracket-page">
    <div *ngFor="let round of bucket; let i = index">
      <h5 class="ui header">{{getRoundName(round)}}</h5>
      <app-bracketround [rowWidthPx]="rowWidthPx"
                        [totalfights]="getFightsNumberForBucket(bucket)"
                        [fights]="getFightsForRound(round)"
                        [round]="round"
                        [oneFightInPercent]="getOneFightInPercent(round)"
      [drawConnections]="!isLastRoundInBucket(round, bucket)"></app-bracketround>
    </div>
  </div>
</div>
