<ng-template #categorySelect>
  <sui-select class="selection sidemenu"
              [placeholder]="(category$ | async) && (formatter(category$ | async).substring(0, 18) + '...') || 'Select Category'"
              (selectedOptionChange)="setCategoryId($event)"
              [options]="categories$ | async"
              [isSearchable]="true"
              [isDisabled]="false"
              [optionsFilter]="optionsFilter"
              [optionFormatter]="formatter"
              #select>
    <sui-select-option *ngFor="let option of select.filteredOptions"
                       [value]="option">
    </sui-select-option>
  </sui-select>
</ng-template>

<ng-template #fighterSearch>
  <div class="ui icon search input sidemenu">
    <i class="search icon"></i>
    <input type="text" placeholder="Search fighters" (change)="searchString$.next($event.target.value)">
  </div>
</ng-template>

<app-add-fighter [collapsed]="!addFighterOpen"
                 [categories]="categories$ | async"
                 (fighterAdded)="dispatchAddFighterAction($event)"
                 (closeClicked)="addFighterOpen = false"></app-add-fighter>
<app-fighters-editor
  [categories]="categories$ | async"
  [pageNumber]="pageNumber$ | async"
  [pageSize]="pageSize$ | async"
  [collectionSize]="totalCompetitors$ | async"
  [fighters]="competitors$ | async"
  [category]="category$ | async"
  [competitionId]="competitionId$ | async"
  (fighterDeleted)="deleteFighter($event)"
  (pageChanged)="changePage($event)"
  (fighterClicked)="navigateToFighterProfilePage($event)"></app-fighters-editor>
