<app-registration-info-editor (addGroupModal)="openGroupModal($event)"
                              (deleteGroup)="deleteRegistrationInfoGroup($event)"
                              (deletePeriod)="deleteRegistrationInfoPeriod($event)"
                              (selectGroup)="selectRegistrationGroup($event)"
                              (registrationInfoUpdated)="registrationInfoUpdated($event)"
                              [colunmsNumber]="columsNumber$ | async"
                              [competitionId]="competitionId$ | async"
                              [timeZone]="timeZone$ | async"
                              [registrationInfo]="registrationInfo$ | async"
                              [categories]="categories$ | async"
                              *ngIf="!(selectedRegistrationGroupId$ | async)"></app-registration-info-editor>

<app-registration-group-editor *ngIf="selectedRegistrationGroupId$ | async"
                               [groupId]="selectedRegistrationGroupId$ | async"
                               [registrationInfo]="registrationInfo$ | async"
                               [categories]="categories$ | async"
                               (registrationInfoUpdated)="registrationInfoUpdated($event, true)"></app-registration-group-editor>

