<ng-container *ngIf="!!fight">
  <button class="ui button" (click)="goFullScreen()">Go fullscreen</button>
  <button class="ui button" (click)="goMatView()">Area view</button>
  <button class="ui button" (click)="showControls = !showControls">Toggle controls</button>
  <div class="ui divider"></div>
  <div class="wrapper" id="fullscr">
    <div class="participant" [ngClass]="{participant_red: isFirst, participant_blue: isLast}"
         *ngFor="let score of fight.scores; last as isLast; first as isFirst; index as i">
      <div class="participant__data ">
        <div class="winner_control_button" *ngIf="showControls">
          <div class="winner_buttons_group">
            <button class="ui button" *ngFor="let o of fightResultOptions"
                    (click)="setWinner(getCompetitor(score?.competitorId), o)">{{o.shortName}}
            </button>
          </div>
        </div>
        <div class="participant__data-box">
          <div class="participant__name">
            {{getCompetitor(score?.competitorId) | getname}}
          </div>
          <div class="participant__team">{{getCompetitor(score?.competitorId)?.academy?.name | truncate:30}}</div>
        </div>
      </div>
      <div class="participant__extra-points">
        <div class="participant__extra points-item">
          <app-number-controls class="participant__score_controls"
                               (valueChanged)="updateAdvantage($event, i)"
                                *ngIf="showControls"></app-number-controls>
          {{getScore(score).advantages}}
        </div>
        <div class="participant__extra penalties-item">
          <app-number-controls class="participant__score_controls"
                               (valueChanged)="updatePenalties($event, i)"
                               *ngIf="showControls"></app-number-controls>
          {{getScore(score).penalties}}
        </div>
      </div>
      <div class="participant__point" [ngClass]="{red: isFirst, last: isLast}">
        <app-number-controls class="participant__score_controls"
                             (valueChanged)="updatePoint($event, i)"
                             *ngIf="showControls"></app-number-controls>
        {{getScore(score)?.points}}
      </div>
    </div>
    <div class="info">
      <div class="info__round">
        <div class="info__round-box">
          <div class="info__category">{{displayCategory(category)}}</div>
          <div class="info__round-name" *ngIf="stageName">{{fight?.fightName || stageName}}</div>
        </div>
      </div>
      <app-timer-component [minutes]="currentFightMinutes" [seconds]="currentFightSeconds" [showControls]="showControls"></app-timer-component>
    </div>
  </div>
</ng-container>
