<ng-container *ngIf="showSchedule">
  <h3 class="ui header">Schedule</h3>
  <app-schedule-display [categories]="categories$ | async"
                        [schedule]="scheduleInfo.schedule$ | async"
                        [schedulePeriods]="scheduleInfo.periods$ | async"
                        [scheduleEmpty]="scheduleInfo.scheduleEmpty$ | async"
                        [timeZone]="timeZone$ | async"
                        [competitionId]="(scheduleInfo.selectedCompetitionProperties$ | async)?.id"
                        (categoryClicked)="navigateToCategory($event)"></app-schedule-display>
</ng-container>
<h3 class="ui header" *ngIf="showSchedule">Dashboard</h3>
<div class="ui three stackable cards">
  <div class="card" *ngFor="let period of scheduleInfo.periods$ | async">
    <div class="content">
      <a class="header" (click)="selectPeriod(period?.id)">Period {{period?.name}}</a>
      <div class="header" *ngIf="period?.isActive">ACTIVE</div>
      <div class="meta">Begins {{period?.startTime | zdate:true:(timeZone$ | async)}}</div>
      <div class="meta">{{(getPeriodMatsLength(period.id) | async) + ' mats'}}</div>
    </div>
  </div>
</div>

