<ng-container *ngIf="bracketsType==='GROUP'">
  <app-multiple-groups-display [stageType]="stageType"
                               [bracketsType]="bracketsType"
                               [fights]="_fights"
                               (fightSelected)="fightSelected.next($event)"
                               [editMode]="editMode"
                               [changeFightsIds]="changeFightsIds"></app-multiple-groups-display>
</ng-container>
<ng-container *ngIf="bracketsType==='SINGLE_ELIMINATION'">
  <app-bracket-part [editMode]="editMode" [isLoserBracket]="false" [bucketsize]="bucketsize"
                    [changeFightsIds]="changeFightsIds" [fights]="_fights"
                    [rowWidthPx]="rowWidthPx"
                    (fightSelected)="fightSelected.next($event)"></app-bracket-part>
</ng-container>
<ng-container *ngIf="bracketsType==='DOUBLE_ELIMINATION'">
  <div class="ui basic segment">
    <sui-checkbox class="toggle" name="brackets_selector"
                  (checkChange)="showUpperBrackets = !showUpperBrackets">
      {{showUpperBrackets ? 'Upper brackets' : 'Lower brackets'}}</sui-checkbox>
  </div>
  <app-bracket-part *ngIf="showUpperBrackets" [editMode]="editMode" [isLoserBracket]="false" [bucketsize]="bucketsize"
                    [changeFightsIds]="changeFightsIds" [fights]="_fights"
                    [rowWidthPx]="rowWidthPx"
                    [stageType]="stageType"
                    (fightSelected)="addFightToCurrentChange($event)"></app-bracket-part>
  <app-bracket-part *ngIf="!showUpperBrackets" [editMode]="editMode" [isLoserBracket]="true" [bucketsize]="bucketsize"
                    [changeFightsIds]="changeFightsIds" [fights]="_loserFights"
                    [losersFirstRoundSizeInFights]="getWInnerFightsLength()"
                    [rowWidthPx]="rowWidthPx"
                    [stageType]="stageType"
                    (fightSelected)="addFightToCurrentChange($event)"></app-bracket-part>
</ng-container>

