<div class="ui container">
  <ng-container *ngFor="let bucket of structuredFights?.buckets; let i = index">
    <section class="brackets_container_section">
      <div class="brackets-container">
        <div class="split split-one">
          <div class="round round-one current" *ngIf="getRoundFights(0, bucket?.left, i)">
            <div class="round-details">{{getRoundName(getRoundFights(0, bucket?.left, i)?.round)}}<br/></div>
            <div *ngFor="let fight of getRoundFights(0, bucket?.left, i)?.fights" cdkDropList [cdkDropListData]="getRoundFights(0, bucket?.left, i)?.fights"
                 [cdkDropListEnterPredicate]="dropAllowed(fight)" (cdkDropListDropped)="onItemDrop($event, fight)">
              <app-bracket-match [fight]="fight"
                                 (competitorDropped)="sendMoveCompetitorAction($event)"></app-bracket-match>
            </div>
          </div>  <!-- END ROUND ONE -->

          <div class="round round-two" *ngIf="getRoundFights(1, bucket?.left, i)">
            <div class="round-details">{{getRoundName(getRoundFights(1, bucket?.left, i)?.round)}}<br/></div>
            <div *ngFor="let fight of getRoundFights(1, bucket?.left, i).fights" cdkDropList [cdkDropListData]="getRoundFights(1, bucket?.left, i).fights"
                 [cdkDropListEnterPredicate]="dropAllowed(fight)" (cdkDropListDropped)="onItemDrop($event, fight)">
              <app-bracket-match [fight]="fight"></app-bracket-match>
            </div>
          </div>  <!-- END ROUND TWO -->

          <div class="round round-three" *ngIf="getRoundFights(2, bucket?.left, i)">
            <div class="round-details">{{getRoundName(getRoundFights(2, bucket?.left, i)?.round)}}<br/></div>
            <div *ngFor="let fight of getRoundFights(2, bucket?.left, i).fights" cdkDropList [cdkDropListData]="getRoundFights(2, bucket?.left, i).fights"
                 [cdkDropListEnterPredicate]="dropAllowed(fight)" (cdkDropListDropped)="onItemDrop($event, fight)">
              <app-bracket-match [fight]="fight"></app-bracket-match>
            </div>
          </div>  <!-- END ROUND THREE -->
        </div>

        <div class="champion">
          <div class="semis-r" *ngIf="getRoundFights(3, bucket?.left, i)">
            <div class="round-details">{{getRoundName(getRoundFights(3, bucket?.left, i)?.round)}}</div>
            <app-bracket-match *ngFor="let fight of getRoundFights(3, bucket?.left, i).fights" [fight]="fight"
                               [isChampionship]="true"></app-bracket-match>
            <app-bracket-match *ngFor="let fight of getRoundFights(3, bucket?.right, i).fights" [fight]="fight"
                               [isChampionship]="true"></app-bracket-match>
          </div>
        </div>


        <div class="split split-two">

          <div class="round round-three" *ngIf="getRoundFights(2, bucket?.right, i)">
            <div class="round-details">{{getRoundName(getRoundFights(2, bucket?.right, i)?.round)}}</div>
            <div *ngFor="let fight of getRoundFights(2, bucket?.right, i).fights" cdkDropList [cdkDropListData]="getRoundFights(2, bucket?.right, i).fights"
                 [cdkDropListEnterPredicate]="dropAllowed(fight)" (cdkDropListDropped)="onItemDrop($event, fight)">
              <app-bracket-match [fight]="fight"></app-bracket-match>
            </div>
          </div>  <!-- END ROUND THREE -->


          <div class="round round-two" *ngIf="getRoundFights(1, bucket?.right, i)">
            <div class="round-details">{{getRoundName(getRoundFights(1, bucket?.right, i)?.round)}}</div>
            <div *ngFor="let fight of getRoundFights(1, bucket?.right, i).fights" cdkDropList [cdkDropListData]="getRoundFights(1, bucket?.right, i).fights"
                 [cdkDropListEnterPredicate]="dropAllowed(fight)" (cdkDropListDropped)="onItemDrop($event, fight)">
              <app-bracket-match [fight]="fight"></app-bracket-match>
            </div>
          </div>  <!-- END ROUND TWO -->

          <div class="round round-one current" *ngIf="getRoundFights(0, bucket?.right, i)">
            <div class="round-details">{{getRoundName(getRoundFights(0, bucket?.right, i)?.round)}}</div>
            <div *ngFor="let fight of getRoundFights(0, bucket?.right, i).fights" cdkDropList [cdkDropListData]="getRoundFights(0, bucket?.right, i).fights"
                 [cdkDropListEnterPredicate]="dropAllowed(fight)" (cdkDropListDropped)="onItemDrop($event, fight)">
              <app-bracket-match [fight]="fight"></app-bracket-match>
            </div>
          </div>  <!-- END ROUND ONE -->
        </div>
      </div>
    </section>
  </ng-container>
</div>
