
$fighter-background: #c2d0d9;
$background: rgba(100, 100, 100, 0.4);

.brackets_container_section {
  border-radius: 3px;
}

.hero {
  position: relative;
  text-align: center;
  overflow: hidden;
  color: #fcfcfc;
}

.hero h1 {
  font-family: 'Holtwood One SC', serif;
  font-weight: normal;
  font-size: 5.4em;
  margin: 0 0 20px;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: -1px;
}

.hero p {
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  color: #5CCA87;
  letter-spacing: 6px;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
}

.hero-wrap {
  padding: 3.5em 10px;
}

.hero p.intro {
  font-family: 'Holtwood One SC', serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3em;
  margin-bottom: -40px;
}

.hero p.year {
  color: #fff;
  letter-spacing: 20px;
  font-size: 34px;
  margin: -25px 0 25px;
}

.hero p.year i {
  font-size: 14px;
  vertical-align: middle;
}

section.brackets_container_section {
  overflow: hidden;
  background-color: $background;
  font-size: 12px;
  padding: 40px 0;
}

.brackets-container {
  max-width: 1100px;
  margin: 0 auto;
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.split {
  display: block;
  float: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 42%;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
}

.champion {
  float: left;
  display: block;
  width: 16%;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-self: center;
  align-self: center;
  margin-top: -15px;
  text-align: center;
  padding: 230px 0 \9
;
}

.champion i {
  color: #a0a6a8;
  font-size: 45px;
  padding: 10px 0;
}

.round {
  display: block;
  float: left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 95%;
  width: 30.8333% \9
;
}

.split-two {
}

.split-one .round {
  margin: 0 2.5% 0 0;
}

.split-two .round {
  margin: 0 0 0 2.5%;
}

.brackets_fighter {
  display: inline-block;
  width: 80%;
}


.brackets_fighter-name {
  padding: 0 5px;
  text-transform: capitalize;
  background-color: $fighter-background;
  overflow: hidden;
  width: 100%;
}

.brackets_fighter-team {
  padding: 0 5px;
  background-color: $fighter-background;
  font-family: 'Georgia', serif;
  font-weight: lighter;
  font-size: 10px;
  overflow: hidden;
  width: 100%;
}

.brackets_score-block {
  display: inline-block;
  width: 20%;
  height: 100%;
  margin-left: -3px;
  background-color: #efffc3;
  position: absolute;
  right: 0;
}

.brackets_score {
  font-size: 11px;
  text-transform: uppercase;
  color: #2C7399;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
}

$team-border: 1px solid $background;

.team-top {
  border-bottom: $team-border;
  border-top: $team-border;
  margin-bottom: 0
}

.team-bottom {
  margin-top: 0;
  border-bottom: $team-border;
}

.team {
  height: 50px;
  //line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  font-size: 12px;
  color: #1b2599;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  border-left: $team-border;
  border-right: $team-border;
  opacity: 0;
  cursor: pointer;
}

.round-two .matchup {
  margin: 0;
  height: 120px;
  padding: 80px 0;
}

.round-three .matchup {
  margin: 0;
  height: 120px;
  padding: 220px 0;
}

.round-details {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13px;
  color: #42b4eb;
  text-transform: uppercase;
  text-align: center;
  height: 40px;
}

.champion li, .round li {
  background-color: $fighter-background;
  box-shadow: none;
  opacity: 1;
}

//.current li {
//  opacity: 1;
//}

.team:hover {
  box-shadow: 0 1px 4px rgba(13, 13, 13, 0.1);
  opacity: 0.45;
}

//.current li.team {
//  background-color: #fff;
//  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
//  opacity: 1;
//}

.vote-options {
  display: block;
  height: 52px;
}

.share .brackets-container {
  margin: 0 auto;
  text-align: center;
}

.share-icon {
  font-size: 24px;
  color: #fff;
  padding: 25px;
}

.share-wrap {
  max-width: 1100px;
  text-align: center;
  margin: 60px auto;
}

.final {
  margin: 4.5em 0;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.share-icon {
  color: #fff;
  opacity: 0.35;
}

.share-icon:hover {
  opacity: 1;
  -webkit-animation: pulse 0.5s;
  animation: pulse 0.5s;
}

.date {
  font-size: 10px;
  letter-spacing: 2px;
  font-family: 'Istok Web', sans-serif;
  color: #3F915F;
}

@media screen and (min-width: 981px) and (max-width: 1099px) {
  .brackets-container {
    margin: 0 1%;
  }
  .champion {
    width: 14%;
  }
  .split {
    width: 43%;
  }
  .split-one .vote-box {
    margin-left: 138px;
  }
  .hero p.intro {
    font-size: 28px;
  }
  .hero p.year {
    margin: 5px 0 10px;
  }

}

@media screen and (max-width: 980px) {
  .brackets-container {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
  }
  .split, .champion {
    width: 90%;
    margin: 35px 5%;
  }
  .champion {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .split {
    border-bottom: 1px solid #b6b6b6;
    padding-bottom: 20px;
  }
  .hero p.intro {
    font-size: 24px;
  }
  .hero h1 {
    font-size: 3em;
    margin: 15px 0;
  }
  .hero p {
    font-size: 1em;
  }
}

.drag-hint-border li {
  border: #0e7e95 dashed 1px;
}

$drag-over-color: #0e7e95;

.drag-over-border li {
  border: #0e7e95 double 2px;
}

@media screen and (max-width: 400px) {

  .split {
    width: 95%;
    margin: 25px 2.5%;
  }
  .round {
    width: 21%;
  }
  //.current {
  //  -webkit-flex-grow: 1;
  //  -moz-flex-grow: 1;
  //  flex-grow: 1;
  //}
  .hero h1 {
    font-size: 2.15em;
    letter-spacing: 0;
    margin: 0;
  }
  .hero p.intro {
    font-size: 1.15em;
    margin-bottom: -10px;
  }
  .round-details {
    font-size: 90%;
  }
  .hero-wrap {
    padding: 2.5em;
  }
  .hero p.year {
    margin: 5px 0 10px;
    font-size: 18px;
  }
}

//new grid!

.brackets_grid_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1em;
  border-radius: 3px;
  justify-content: space-between;
  align-content: center;
  grid-auto-flow: row dense;
}

.brackets_grid_column {
  display: flex;
  flex-direction: column;
  padding: 1em 0 1em 0;
  > div {
    margin-top: 1em;
  }
}

