.selectable {
  rect.compholder {
    stroke: #824116;
    fill: #62ccff;
  }
  cursor: pointer;
}

.compholder {
  fill: black;
  stroke: gold;
}

.hoverable {
  &:hover {
    mask: url(#mask-selected);
  }
}

.fighter {
  font-size: 14px;
  font-weight: lighter;
}

.academy {
  font-size: 10px;
  font-weight: lighter;
}

