<ng-template #categorySelect>
  <sui-select class="selection"
              [placeholder]="(bracketsInfo?.category$ | async) && (formatter(bracketsInfo?.category$ | async).substring(0, 18) + '...') || 'Select Category'"
              (selectedOptionChange)="setCategoryId($event)"
              [options]="categories$ | async"
              [isSearchable]="true"
              [isDisabled]="false"
              [optionsFilter]="optionsFilter"
              [optionFormatter]="formatter"
              #select>
    <sui-select-option *ngFor="let option of select.filteredOptions"
                       [value]="option">
    </sui-select-option>
  </sui-select>
</ng-template>
<div class="ui basic segment" *ngIf="bracketsInfo?.category$ | async">
  <h4 class="ui header">{{formatter(bracketsInfo?.category$ | async)}}</h4>
</div>
<div class="ui container" *ngIf="bracketsInfo?.fightsAreLoading$ | async">
  <sui-dimmer class="ui dimmer rounded transparent" [isDimmed]="bracketsInfo?.fightsAreLoading$ | async"
              [isClickable]="false">
    <div class="ui text loader">Loading</div>
  </sui-dimmer>
</div>
<app-fights-editor-container *ngIf="editMode"></app-fights-editor-container>
<app-generate-brackets-form
  [smallScreen]="bracketsInfo.bucketsize$ | async"
  [defaultFightResultOptions]="defaultFightResultOptions$ | async"
  [competitionId]="competitionId"
  [competitorsSize]="bracketsInfo?.numberOfCompetitor$ | async"
  *ngIf="(bracketsInfo?.category$ | async) && (bracketsInfo?.stages$ | async)?.length <= 0 && !(bracketsInfo?.fightsAreLoading$ | async)"
  (generateStages)="generateBrackets($event)"></app-generate-brackets-form>
<app-stage-display [fights]="bracketsInfo.fights$ | async"
                   [editMode]="editMode"
                   [bucketSize]="bracketsSize$ | async"
                   (fightSelected)="addFightToCurrentChange($event)"
                   (stageSelected)="selectStage($event)"
                   [changeFightIds]="changeFightsIds$ | async"
                   [fightsAreLoading]="bracketsInfo.fightsAreLoading$ | async"
                   [selectedStage]="bracketsInfo.stage$ | async"
                   [stages]="bracketsInfo.stages$ | async"
                   [category]="bracketsInfo.category$ | async"></app-stage-display>

