<app-schedule-editor [categories]="categories$ | async"
                     [timeZone]="timeZone$ | async"
                     [schedule]="schedule$ | async"
                     [scheduleEmpty]="scheduleEmpty$ | async"
                     [showEditor]="showEditor"
                     [competitionId]="competitionId"
                     [periods]="periods$ | async"
                     (periodAdded)="addPeriod($event)"
                     (periodRemoved)="removePeriod($event)"
                     (categoryMoved)="moveCategory($event)"
                     (generateSchedule)="sendGenerateSchedule($event)"
                     (scheduleDropped)="sendDropSchedule($event)"></app-schedule-editor>
<app-schedule-display
        [timeZone]="timeZone$ | async"
        [competitionId]="competitionId"
        [schedule]="schedule$ | async"
        [schedulePeriods]="periods$ | async"
        [categories]="categories$ | async"
        (categoryClicked)="goToCategoryEditor($event)">
</app-schedule-display>
