<app-schedule-editor [categories]="categories$ | async"
                     [timeZone]="timeZone$ | async"
                     [schedule]="schedule$ | async"
                     [showEditor]="showEditor"
                     [competitionId]="competitionId"
                     [scheduleProperties]="scheduleProperties$ | async"
                     (periodAdded)="addPeriod($event)"
                     (periodRemoved)="removePeriod($event)"
                     (categoryMoved)="moveCategory($event)"
                     (generateSchedule)="sendGenerateSchedule($event)"
                     (scheduleDropped)="sendDropSchedule($event)"></app-schedule-editor>
