<div class="ui container">
  <p></p>
  <h1 class="ui header">EVENT NAME</h1>
  <div class="ten   wide  column">
    <div class="ui secondary pointing menu">
      <a class="item" *ngFor="let menuItem of primaryMenu" [ngClass]="{active: menuItem.active}"
         (click)="changeActiveMenuItem(menuItem)"> {{menuItem.name}}</a>
    </div>
  </div>


  <competition-main-info [competitionId]="competitionId$ | async" (competitionStart)="startCompetition($event)" *ngIf="primaryMenu[0].active"></competition-main-info>


</div>



