<div class="ui container">


  <form class="ui form" [formGroup]="form" [ngClass]="{error: (form.touched || form.dirty) && form.invalid}">

    <div class="ui three column grid">
      <div class="column" *ngFor="let x of [1,2];let first = first; let last = last; index as i;"  [formGroupName]="i">
        <div class="ui fluid card">
          <div class="content">
            <div class="field">
              <label>Name</label>
              <div class="ui input">
                <input type="text" name="name" placeholder="Name*" formControlName="name" required>
              </div>
            </div>
            <div class="inline fields">
              <div class="field">
                <sui-radio-button name="example" value="Value" formControlName="type">
                  Value
                </sui-radio-button>
              </div>
              <div class="field">
                <sui-radio-button name="example" value="Range" formControlName="type">
                  Range
                </sui-radio-button>
              </div>
            </div>
            <div class="meta"><h4 class="ui horizontal divider header">
              Entries
            </h4></div>
            <div class="description">
              <div class="ui segment">
                <div class="field">
                  <div class="ui input">
                    <input type="text" name="name" placeholder="Value*" formControlName="name" required>
                  </div>
                </div>
              </div>
            </div>
            <div class="extra content">
              <div class="ui center aligned basic segment">
                <div class="ui basic green mini button">Add</div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="column">
        <div class="ui left aligned   basic segment">
         <!-- <button class="ui green basic  button" (click)="open()"><i class="icon add"></i></button>-->
        </div>
      </div>
    </div>


  </form>


</div>
