<div class="left floated ten wide column">

  <h2 class="ui header"><i class="info letter icon"></i>INFORMATION</h2>

  <div class="ui left aligned container leftimg">
    <p> Copa Virginia is a high-quality Brazilian Jiu Jitsu tournament based in the Washington DC metro area that
      offers cash prizes [March 3rd 2018; 11am - 5pm].</p>


    Are you looking for a tournament that runs on time and offers cash prizes? Copa Virginia is the tournament
    for you!

    Copa Virginia will be running Gi, Advanced No Gi, Male, and Female divisions.

    All Black Belts compete for FREE in Gi divisions. Please contact us to register.

    <p> There will be NO spectator fees.</p>

    <p> All participants need to be 18 years of age or older to participate.</p>

    <p> Cash Prizes for 1st Place:</p>

    <p> $300 for Men's Advanced No Gi Absolute</p>

    <p> $250 for Men's Adult Purple Belt Absolute</p>

    <p> $200 for Women's Adult Blue Belt Absolute</p>

    <p> The Gi part of the event will be under IBJJF rules and weight divisions (please note that athletes need to
      make weight with their Gi on). There will be one absolute (open weight) divisions per colored belt. To sign
      up for the absolute Gi division you will need to be registered in a Gi weight class division first.</p>

    <p> We will have both Gi Adult and Gi Master (30+) age divisions.</p>

    <p> Time limits for matches in the Gi (Men & Women):</p>

    <p> Adult - White Belt - 5min; Master - White Belt - 5min</p>

    <p> Adult - Blue Belt - 6min; Master - Blue Belt - 5min</p>

    <p> Adult - Purple Belt - 7min; Master - Purple Belt - 6min</p>

    <p> Adult - Brown Belt - 8min; Master - Brown Belt - 6min</p>

    <p> Adult - Black Belt - 10min; Master - Black Belt - 6min</p>

    <p> IBJJF Gi Weight Divisions</p>

    <p> Rooster: Men - up to 127 lbs; Women - up to 107 lbs</p>

    <p> Light Feather: Men - up to 141.5 lbs; Women - up to 118 lbs</p>

    <p> Feather: Men - up to 154.5 lbs; Women – up to 129 lbs</p>

    <p> Light: Men - up to 168 lbs; Women - up to 141.5 lbs</p>

    <p> Middle: Men - up to 181.5 lbs; Women - up to 152.5 lbs</p>

    <p> Medium Heavy: Men - up to 195 lbs; Women - up to 163.5 lbs</p>

    <p> Heavy: Men - up to 208 lbs; Women - up to 175 lbs</p>

    <p> Super Heavy: Men - up to 222 lbs; Women - No maximum weight</p>

    <p> Ultra Heavy: Men - No maximum weight</p>

    <p> There will be a Men's Advanced No Gi Absolute Adult division only. There will not be any No Gi weight
      divisions nor will they be any Female No Gi divisions. In addition we will not be having any Novice/Beginner
      or Intermediate level No Gi divisions at this time. Advanced No Gi Absolute matches will be under IBJJF No
      Gi rules with the following exceptions: a) all leg locks will be allowed (including heel hooks/knee
      reaping), b) scissor take-downs will be allowed, and c) neck/face cranks and spine manipulations will be
      allowed as well. Due to the rule set we recommend participants with multi-year experience in submission
      grappling (senior blue belts and above). However, no official IBJJF ranking (i.e. having been awarded a
      colored belt) is required to participate, as long as the athlete has the necessary experience stated
      above.</p>

    <p> Time limits for all advanced No Gi matches will be 7 minutes.</p>

    <p> Depending on athlete turnout, Copa Virginia reserves the right to combine Gi weight and age (Adult and
      Master) divisions.</p>

    <p> Regular registration (last day 23 February): $70 per Gi weight or Advanced No Gi Absolute divisions;
      additional $25 to enter a Gi absolute division (please note that in order to sign up for any Gi absolute
      division you will need to be registered in a Gi weight division first).</p>

    <p> Late registration (last day 1 March): $80 per Gi weight or Advanced No Gi Absolute divisions; additional
      $30 to enter to enter a Gi absolute division (please note that in order to sign up for any absolute Gi
      division you will need to be registered in a Gi weight division first).</p>

    <p> In order to ensure a smooth running tournament all competitors must pre-register. There will be no
      same-day registrations. Last day/time to register is Thursday 1 March, 11:59pm.</p>

    <p> Please note that all athletes registered for Gi divisions will be weighed with their Gi on before their
      first match or at the beginning of the tournament (per IBJJF rules and regulations). You will have 2 tries
      to make weight, if you do not make weight you will be disqualified (you will only be allowed to compete in
      the Gi Absolute if you have already register for it). You can change your weight division (or do any edits
      to your registration) up until the day before the tournament (Friday 2 March) at noon. Please make sure you
      make the weight you registered for. There will be no refunds.</p>

    <p> You do not need to sign up for a Gi division if you only wish to compete in Advanced No Gi and vice
      versa.</p>

    <p> Please note that the day of the event all competitors can monitor their fight times and general tournament
      progress including results, on their cell phones/mobile devices via their Smoothcomp
      account/registration.</p>

  </div>

</div>

<div class="right floated six wide column">
  <div class="ui  leftimg fluid  container">
    <div class="ui hidden divider"></div>
    <div class="ui segment">
      <h2 class="ui left floated small header"><i class="info letter blue icon"></i>Contact info </h2>
      <div class="ui clearing divider"></div>
      <div class="ui   grid">
        <div class="row">
          <div class="column">
            <div class="ui label">
              <i class="mail blue icon"></i>
              Mail
            </div>
            <a>vasyanyavasyanyavasyanya.pupkin@gmail.com </a>
            <p></p>
            <div class="ui label">
              <i class="phone blue icon"></i>
              Phone
            </div>
            <a> +7-214-890-67894</a>
            <p></p>
            <div class="ui  center aligned container">
              <button class="ui circular facebook icon button">
                <i class="facebook large icon"></i>
              </button>
              <button class="ui circular vk icon button">
                <i class="vk large icon "></i>
              </button>
              <button class="ui circular blue icon button">
                <i class="telegram large  icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <p></p>
    </div>

    <div class="ui segment">
      <h2 class="ui left floated small header"><i class="point red icon"></i>Location </h2>
      <div class="ui clearing divider "></div>
      <div class="ui two column grid">
        <div class="one wide column">
          <div class="ui right aligned  label">
            <i class="point blue circle icon"></i>
          </div>
        </div>
        <div class="thirteen wide column">
          <a>Saint-Petersburg ul.Lalalalalalalaeva 13/2 </a>
        </div>
      </div>

    </div>

  </div>
</div>
