<div class="ui container" *ngIf="accountState?.user">

  <p></p>

  <div class="ten   wide  column">
    <div class="ui secondary pointing menu">
      <div class="item active">
        Personal info
      </div>
      <a class="item">Organization manager </a>
    </div>
  </div>

  <h1 class="ui header">PROFILE SETTINGS </h1>

  <div class="ui  grid">
    <div class="left aligned five wide   column">


      <div class="ui fluid   card">
        <div class="content">
          <h5 class="ui left floated header"><i class="photo icon"></i>Profile photo </h5>
          <div class="ui clearing divider"></div>
          <div class="ui medium image">
            <!--<ngx-avatar size="100%" [src]="sanitizer.bypassSecurityTrustResourceUrl(avatarSrc)"
                        [round]="true"></ngx-avatar>-->
          </div>
        </div>
        <div class="ui bottom attached basic teal  button" (click)="openModal()">
          <i class="upload icon"></i>
          Change photo
        </div>
      </div>


      <div class="ui fluid purple  card">
        <div class="content">
          <h3 class="ui left floated header"><i class="users purple icon"></i>Academies</h3>
          <div class="ui clearing divider"></div>
          <div class="ui middle aligned large selection animated divided list">
            <div class="item">
              <div>First name</div>
              <div class="left floated content">
                <div class="header">Helen</div>
              </div>
              <div class="right floated content">
                <i class="edit teal icon"></i>
              </div>
            </div>
            <div class="item">
              <div>Last name</div>
              <div class=" left floated content">
                <div class="header">Christian</div>
              </div>
              <div class="right floated content">
                <i class="edit teal icon"></i>
              </div>
            </div>
            <div class="item">
              <div>First name</div>
              <div class="left floated content">
                <div class="header">Daniel</div>
              </div>
              <div class="right floated content">
                <i class="edit teal icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="left aligned eleven wide column">
      <div class="ui fluid teal card">
        <div class="content">
          <h3 class="ui left floated header"><i class="user teal icon"></i>User details </h3>
          <div class="ui clearing divider"></div>
          <div class="ui middle aligned large selection animated divided list ">
            <compmanager-frontend-editable-field class="item" (contentChanged)="submitForm()">
              <compmanager-frontend-left-floated-text-input
                edit-section
                [control]="firstName"
                [name]="'First Name'"
              ></compmanager-frontend-left-floated-text-input>
              <compmanager-frontend-left-floated-display
                display-section
                [value]="accountState?.user?.firstName"
                [name]="'First Name'"
              ></compmanager-frontend-left-floated-display>
            </compmanager-frontend-editable-field>
            <compmanager-frontend-editable-field class="item" (contentChanged)="submitForm()">
              <compmanager-frontend-left-floated-text-input
                edit-section
                [control]="lastName"
                [name]="'Last Name'"
              ></compmanager-frontend-left-floated-text-input>
              <compmanager-frontend-left-floated-display
                display-section
                [value]="accountState?.user?.lastName"
                [name]="'Last Name'"
              ></compmanager-frontend-left-floated-display>
            </compmanager-frontend-editable-field>
            <compmanager-frontend-editable-field class="item" (contentChanged)="submitForm()">
              <compmanager-frontend-left-floated-text-input
                edit-section
                [control]="password"
                [name]="'Password'"
              ></compmanager-frontend-left-floated-text-input>
              <compmanager-frontend-left-floated-display
                display-section
                [value]="accountState?.user?.password"
                [name]="'Password'"
              ></compmanager-frontend-left-floated-display>
            </compmanager-frontend-editable-field>
          </div>
        </div>
        <div class="ui bottom attached basic teal  button">
          <i class="upload icon"></i>
          Change photo
        </div>
      </div>
      <div class="ui fluid blue  card">
        <div class="content">
          <h3 class="ui left floated header"><i class="info blue icon"></i>Contact information </h3>
          <div class="ui clearing divider"></div>
          <div class="ui middle aligned large selection animated divided list">
            <div class="item">
              <div>First name</div>
              <div class="left floated content">
                <div class="header">Helen</div>
              </div>
              <div class="right floated content">
                <i class="edit blue icon"></i>
              </div>
            </div>
            <div class="item">
              <div>Last name</div>
              <div class=" left floated content">
                <div class="header">Christian</div>
              </div>
              <div class="right floated content">
                <i class="edit blue icon"></i>
              </div>
            </div>
            <div class="item">
              <div>First name</div>
              <div class="left floated content">
                <div class="header">Daniel</div>
              </div>
              <div class="right floated content">
                <i class="edit blue icon"></i>
              </div>
            </div>
            <div class="item">
              <div>First name</div>
              <div class="left floated content">
                <div class="header">Helen</div>
              </div>
              <div class="right floated content">
                <i class="edit blue icon"></i>
              </div>
            </div>
            <div class="item">
              <div>Last name</div>
              <div class="left floated content">
                <div class="header">Christian</div>
              </div>
              <div class="right floated content">
                <i class="edit blue icon"></i>
              </div>
            </div>
            <div class="item">
              <div>First name</div>
              <div class="left floated content">
                <div class="header">Daniel</div>
              </div>
              <div class="right floated content">
                <i class="edit blue icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="ui big right floated  basic green button">Save  changes</button>
    </div>
  </div>
</div>






