<ng-container *ngIf="!!competition">
  <div class="customcontainer">
    <div *ngFor="let category of filteredCategories" class="ui basic segment customline">
      <a class="ui header link" routerLink="{{getCategoryId(category)}}">{{displayCategory(category)}}</a>
      <div class="description">Fight duration (minutes): {{category?.fightDuration}}</div>
      <div class="description">Competitors: {{category?.numberOfCompetitors || 0}}</div>
      <div class="description">Fights: {{category?.fightsNumber || 0}}</div>
      <div class="description">Age: {{getAgeMinValue(category) > 0 ?
        getAgeMinValue(category) : 0}}{{getAgeMaxValue(category) < 100 ?
        ' - ' + getAgeMaxValue(category) : '+'}}
      </div>
      <div class="description">Weight (kg): {{getWeightMinValue(category) > 0 ?
        getWeightMinValue(category) : 0}}{{getWeightMaxValue(category) < 100 ?
        ' - ' + getWeightMaxValue(category) : '+'}}
      </div>
      <div class="description">Registration: {{category?.registrationOpen ? 'open' : 'closed'}}</div>
      <div class="action_buttons">
        <div class="ui icon button" routerLink="{{getCategoryId(category)}}">
          <i class="edit icon"></i>
        </div>
        <div class="ui icon button" (click)="deleteCategory(category)">
          <i class="trash icon"></i>
        </div>
        <div class="ui icon button" (click)="toggleRegistrationOpen(category)">
          <i *ngIf="category?.registrationOpen" class="lock icon"></i>
          <i *ngIf="!category?.registrationOpen" class="fas fa-lock-open"></i>
        </div>
        <div class="ui icon button" (click)="generateRandomFighters(category)">
          <i class="fas fa-user-plus"></i>
        </div>
      </div>
    </div>
  </div>
</ng-container>
