<div id="editor">
  <ng-container *ngIf="image">
    <img [src]="getImageSrc()" alt="Competition image">
  </ng-container>
  <cf-file-upload class="two_columns" [competitionId]="competitionId"
                  [disableDeleteButton]="!image"
                  (uploadFinished)="sendCompetitionImageUpdatedEvent($event)"
                  (imageRemoved)="sendCompetitionImageRemovedEvent()"
  ></cf-file-upload>
  <textarea [ngClass]="{two_columns: !showPreview}" id="textarea" [placeholder]="placeHolder"
            [value]="template_"
            (keyup)="onValueChange($event)"></textarea>
  <div *ngIf="showPreview" [ngClass]="{two_columns: !showPreview}" [innerHtml]="compiledMarkdown"></div>

  <compmanager-frontend-submit-button (click)="saveTemplate()" [name]="'Save'"></compmanager-frontend-submit-button>
</div>
