<div class="ui link card" *ngIf="eventInfo" [suiTransition]="transitionController" (click)="navigateToEvent()">
    <div class="image " onclick="console.log('bg')">
      <img src="/assets/images/doc.jpg" width="100%" height="100%">
    </div>
    <div class="extra content ">
      <div class="ui medium header">{{eventInfo.competitionName}}</div>
    </div>
    <div class="extra content">
      <a>
        <i class="map  icon"></i>
        Location
      </a>
      <span>&nbsp;</span>
      <a>
        <i class="map icon"></i>
        {{eventInfo.startDate}}
      </a>
    </div>
  </div>
