<ng-container *ngIf="!!fight">
  <button class="ui button" (click)="goFullScreen()">Go fullscreen</button>
  <button class="ui button" (click)="goMatView()">Mat view</button>
  <div class="ui divider"></div>
  <div class="wrapper" id="fullscr">
    <div class="participant participant_red">
      <div class="participant__data ">
        <div class="participant__data-box">
          <div class="participant__name">
            {{fight.scores[0]?.competitor | getname}}
          </div>
          <div class="participant__team">{{fight.scores[0]?.competitor?.academy?.name | truncate:30}}</div>
          <button class="ui button" *ngIf="showButtons"
                  (click)="setWinner(fight.scores[0]?.competitor, getScore(fight.scores[0]))">Winner
          </button>
        </div>
      </div>
      <div class="participant__extra-points">
        <div class="participant__extra points-item">{{getScore(fight.scores[0]).advantages}}</div>
        <div class="participant__extra penalties-item">
          {{getScore(fight.scores[0]).penalties}}
        </div>
      </div>
      <div class="participant__point red">
        {{getScore(fight.scores[0])?.points}}
      </div>
    </div>
    <div class="participant participant_blue">
      <div class="participant__data">
        <div class="participant__data-box">
          <div class="participant__name">
            {{fight.scores[1].competitor | getname}}
          </div>
          <div class="participant__team">{{fight.scores[1]?.competitor.academy?.name | truncate:30}}</div>
          <button class="ui button" *ngIf="showButtons"
                  (click)="setWinner(fight.scores[1]?.competitor, getScore(fight.scores[1]))">Winner
          </button>
        </div>
      </div>
      <div class="participant__extra-points">
        <div class="participant__extra points-item">{{getScore(fight.scores[1]).advantages}}</div>
        <div class="participant__extra penalties-item">
          {{getScore(fight.scores[1]).penalties}}
        </div>
      </div>
      <div class="participant__point blue">
        {{getScore(fight.scores[1]).points}}
      </div>
    </div>
    <div class="info">
      <div class="info__round">
        <div class="info__round-box">
          <div class="info__category">{{displayCategory(category)}}</div>
          <div class="info__round-name" *ngIf="stageName">{{stageName}}</div>
        </div>
      </div>
      <div class="info__time"
           [ngClass]="{'red': currentFightMinutes == 0 && (currentFightSeconds < 10 && currentFightSeconds != 0)}">
        {{(currentFightMinutes < 10 &&
      currentFightMinutes != 0 ? "0" : "") + currentFightMinutes + ":" + (currentFightSeconds < 10 ? "0" : "") + currentFightSeconds}}
      </div>
    </div>
  </div>
</ng-container>
