/* You can add global styles to this file, and also import other style files */
@import "calendar.min.css";
@import "assets/css/dragula.css";

$background_color: #2b3035;
$header_color: rgba(255, 255, 255, 1);
$description_color: #7A8288;
$dialog_input_text_color: lemonchiffon;

.ui.button {
  background-image: unset;
}

.ui.card {
  background-color: $background_color;
}

.ui.cards > .card {
  background-color: $background_color;
}

.customcontainer {
  margin-bottom: 1rem;
  display: grid;
  grid-gap: 1rem;

  .ui.basic.segment.customline {
    background-color: $background_color;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 0;

    .action_buttons {
      padding-top: 1rem;
    }

    .header {
      font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: bold;
      color: $header_color;
      text-decoration-style: solid;
    }

    .description {
      font-size: 14px;
      font-weight: lighter;
      color: $description_color;
      opacity: 50%;
    }

    .ui.pagination.menu {
      border: 0;
    }
  }
}

input {
  background-color: transparent !important;
  color: $dialog_input_text_color;
}

.ui.search {
  background-color: transparent;
  color: $dialog_input_text_color;
}

.ui.input input {
  background-color: transparent;
  color: $dialog_input_text_color;
}

.ui.input input:active,
.ui.input.down input {
  background-color: transparent;
}

.ui.input input:focus {
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px black inset !important;
  background-color: transparent !important;
}

