<div class="ui container" *ngIf="category$ | async">
  <h2 class="ui header">Fighters for category: {{getName(category$ | async)}}</h2>
  <div class="ui divider"></div>
  <button class="ui basic button" routerLink="..">Return</button>
  <button class="ui basic button" (click)="addFighterOpen = !addFighterOpen">{{addFighterOpen ? 'Close editor' : 'Add fighter'}}
  </button>
  <button class="ui basic button" (click)="generateRandomFighters()">Generate</button>
  <p></p>
  <app-add-fighter [collapsed]="!addFighterOpen"
                   [categories]="[category$ | async]" [header]="false"
                   (fighterAdded)="dispatchAddFighterAction($event)"></app-add-fighter>
  <div class="ui bottom attached segment">
    <app-fighters-editor [fighters]="fighters$ | async"
                         [competitionId]="(category$ | async)?.competitionId"
                         [pageSize]="100"
                         [pageNumber]="1"
                         [collectionSize]="(fighters$ | async)?.length"
                         (pageChanged)="changePage($event)"
                         (fighterDeleted)="sendDeleteFighterCommand($event)"
                         (fighterClicked)="navigateToFighterProfilePage($event)"></app-fighters-editor>
  </div>
</div>
