<div class="ui container">
  <div class="ui grid">
    <div class="nine wide column">
      <div class="ui fluid icon circular input">
        <input type="text"  placeholder="Search categories..." (input)="searchStr$.next($event.target.value)">
        <i class="search icon"></i>
      </div>
    </div>
    <div class="three wide column">
      <button class="ui positive  button" (click)="openAddModal()">Add category</button>
    </div>
    <div class="three wide column">
      <button class="ui basic primary button">Load default</button>
    </div>
  </div>

  <div class="ui divider"></div>

  <div class="ui large middle aligned  celled divided selection animated list"
       *ngFor="let category of categories$ | async | searchCat:(searchStr$ | async)">
    <div class="item" (click)="category.selected=!category.selected">
      <div class="right floated content">
        <div class="ui circle icon button" (click)="deleteCategory(category)"><i class="trash icon"></i></div>
      </div>
      <i class="info icon"></i>
      <div class="content">
        {{category.name}}
      </div>
    </div>
    <div class="ui divider" *ngIf="!category.selected"></div>
    <div [suiCollapse]="!category.selected">
      <div class="ui segment">
        <app-create-category [category]="category"></app-create-category>
      </div>
    </div>

  </div>


</div>
