<form class="ui large form" [formGroup]="form" [ngClass]="{error: (form.touched || form.dirty) && form.invalid}">
  <div class="ui basic segment">
    <div class="field"
         [ngClass]="{error: competitionName.invalid && (competitionName.touched || competitionName.dirty)}">
      <div class="ui label">
        Competition Name
      </div>
      <div class="ui input">
        <input type="text" id="competitionName" placeholder="Competition Name" formControlName="competitionName"
               required>
      </div>
    </div>
    <div class="field"
         [ngClass]="{error: startDate.invalid && (startDate.touched || startDate.dirty)}">
      <div class="ui label">
        Start date
      </div>
      <div class="ui input small">
        <input suiDatepicker
               name="startDate"
               (pickerSelectedDateChange)="setStartDate($event)"
               [pickerFirstDayOfWeek]="1">
      </div>
    </div>
    <!--<div class="field"-->
    <!--[ngClass]="{error: registrationFee.invalid && (registrationFee.touched || registrationFee.dirty)}">-->
    <!--<div class="ui input">-->
    <!--<input type="number" id="registrationFee" placeholder="Registration Fee" formControlName="registrationFee"-->
    <!--required>-->
    <!--</div>-->
    <!--</div>-->
    <div class="field">
      <label for="registrationOpen">
        <sui-checkbox id="registrationOpen" type="checkbox" formControlName="registrationOpen">Registration open?</sui-checkbox></label>
    </div>
    <div class="ui positive submit button" [ngClass]="{disabled: form.invalid}" (click)="submitForm()">
      Create
    </div>

    <div class="ui error message " *ngIf="displayErrorList()">
      <ul class="list">
        <li *ngIf="competitionName.invalid && (competitionName.touched || competitionName.dirty)">Enter competition
          name
        </li>
      </ul>
    </div>
  </div>
</form>
