<div class="ui relaxed divided list" *ngIf="fighters && fighters.length > 0">
  <div class="item" *ngFor="let fighter of fighters">
    <div class="right floated content">
      <div class="ui basic button" (click)="deleteFighter(fighter)">Delete</div>
    </div>
    <i class="large github middle aligned icon"></i>
    <div class="content">
      <a class="header" (click)="gotoFighterProfile(fighter)">{{fighter?.firstName}} {{fighter?.lastName}}</a>
      <div class="description">Email: {{fighter?.email}}</div>
      <div class="description">Birth date: {{fighter?.birthDate | zdate:false}}</div>
      <div class="description">Academy: {{fighter?.academy}}</div>
      <div class="description">Category: {{getCategoryName(fighter?.categoryId)}}</div>
      <div class="description">Registration status: {{fighter?.registrationStatus}}</div>
    </div>
  </div>
  <div class="ui segment">
    <sui-pagination [collectionSize]="collectionSize"
                    [pageSize]="pageSize"
                    [maxSize]="5"
                    [page]="pageNumber"
                    [hasEllipses]="true"
                    (pageChange)="selectPage($event)" #pagination>
    </sui-pagination>
  </div>
</div>
