<div class="ui customcontainer" *ngIf="fighters && fighters.length > 0">
  <div class="ui basic segment customline" *ngFor="let fighter of fighters">
    <a class="ui header link" (click)="gotoFighterProfile(fighter)">{{fighter?.firstName}} {{fighter?.lastName}}</a>
    <div class="description">Email: {{fighter?.email}}</div>
    <div class="description">Birth date: {{fighter?.birthDate | zdate:false}}</div>
    <div class="description">Academy: {{fighter?.academy?.name}}</div>
    <div *ngFor="let cat of fighter?.categories" class="description">Category: {{getCategoryName(cat)}}</div>
    <div class="description">Registration status: {{fighter?.registrationStatus}}</div>
    <div class="action_buttons">
      <div class="ui icon button" (click)="gotoFighterProfile(fighter)">
        <i class="edit icon"></i>
      </div>
      <div class="ui icon button" (click)="deleteFighter(fighter)">
        <i class="trash icon"></i>
      </div>
    </div>
  </div>
  <div class="ui basic segment customline">
    <sui-pagination [collectionSize]="collectionSize"
                    [pageSize]="pageSize"
                    [maxSize]="5"
                    [page]="pageNumber"
                    [hasEllipses]="true"
                    (pageChange)="selectPage($event)" #pagination>
    </sui-pagination>
    <div class="total">Total: {{total}}</div>
  </div>
</div>
