<div class="margins_container">
  <cf-brackets-selectors (categorySelected)="setCategoryId($event)" [categories]="bracketsInfo.categories$ | async"
                         [category]="bracketsInfo.category$ | async"
                         [fights]="bracketsInfo.fights$ | async"
                         [fightsAreLoading]="bracketsInfo.fightsAreLoading$ | async"></cf-brackets-selectors>
  <app-stage-display [fights]="bracketsInfo.fights$ | async"
                     [competitors]="bracketsInfo.competitors$ | async"
                     [editMode]="false"
                     [bucketSize]="bucketSize$ | async"
                     (stageSelected)="selectStage($event)"
                     [fightsAreLoading]="bracketsInfo.fightsAreLoading$ | async"
                     [selectedStage]="bracketsInfo.stage$ | async"
                     [stages]="bracketsInfo.stages$ | async"
                     [category]="bracketsInfo.category$ | async"></app-stage-display>
</div>
