span.italic {
  font-weight: bold;
}

.ui.basic.segment {
  background-color: #2b3035;
  border-radius: 5px;
}

.period_grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 1em;

  .message_line {
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-items: center;
    * {
      margin-right: 1em;
    }
  }
}

.ui.button {
  background-image: unset;
}

.inactive {
  opacity: 0.5;
}

.right.floated.content {
  position: absolute;
  right: 1em;
  z-index: 100;

  .close.icon:hover {
    color: #90afb1;
  }
}
