<div class="ui  stackable center aligned  grid">

  <div class="row">

    <div class="ui  steps">
      <div class="active step">
        <i class="truck icon"></i>
        <div class="content">
          <div class="title">Restrictions</div>
          <div class="description">Enter your parameters</div>
        </div>
      </div>
      <div class="step">
        <i class="payment icon"></i>
        <div class="content">
          <div class="title">Category</div>
          <div class="description">Enter billing information</div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">

    <div class="ui form">
      <div class="three fields">
        <div class="field">
          <label>Age</label>
          <input placeholder="Age" type="text">
        </div>
        <div class="field">
          <label>Weight</label>
          <input placeholder="Weight" type="text">
        </div>
        <div class="field">
          <label>Belt</label>
          <div class="ui selection dropdown">
            <div class="default text">Select</div>
            <i class="dropdown icon"></i>
            <input type="hidden" name="gender">
            <div class="menu">
              <div class="item" data-value="male">Male</div>
              <div class="item" data-value="female">Female</div>
            </div>
          </div>
        </div>
      </div>
      <h4 class="ui horizontal divider header">
        <i class="tag icon"></i>
        Available categories
      </h4>
      <span *ngFor="let category of (filteredCategories$ | async)">
        {{category.id}}
      </span>
    </div>



  </div>



</div>



